
<div class="inline-block m-2">
    <label for="<%=id%>" class="block mb-1">Importe:</label>
    <input type="text" id="<%=id%>" name="<%=name%>" maxlength="12" tabindex="<%=tabindex%>" placeholder="<%=i18n.phFloat%>" class="ui-input ui-float">
    <p class="ui-errtip"></p>
</div>
