
<div class="inline-block m-2">
    <label for="<%=id%>" class="block mb-1"><%=label%>:</label>
    <input type="number" id="<%=id%>" name="<%=name%>" maxlength="10" tabindex="<%=tabindex%>" min="0" max="999"
        placeholder="1, 2, 3, etc..." class="ui-input ui-integer">
    <p class="ui-errtip"></p>
</div>
