
<div class="m-2">
    <label for="<%=id%>" class="block mb-1 required"><%=label%>:</label>
    <select id="<%=id%>" name="<%=name%>" tabindex="<%=tabindex%>" class="ui-input ui-select">
        <%-emptyOption%>
        <%-options%>
    </select>
</div>
