
<div class="flex grow flex-col m-2">
    <label for="<%=id%>" class="block mb-1 required"><%=label%>:</label>
    <textarea id="<%=id%>" name="<%=name%>" tabindex="<%=tabindex%>" maxlength="600" class="ui-input h-24"></textarea>
    <p class="ui-errtip"></p>
</div>
