
<div class="m-2">
    <label for="<%=id%>" class="block mb-1 required"><%=label%>:</label>
    <input type="text" id="<%=id%>" name="<%=name%>" maxlength="200" tabindex="<%=tabindex%>" placeholder="<%=ph%>" class="ui-input">
</div>
