
<div class="wrapper">
	<h1>Private Menus</h1>
	<hr/>

	<form id="tab-1" action="/um/user/filter.html" class="tab-contents active">
		<div class="input-group">
			<label for="nif" class="required"><%=i18n.lblNif%></label>
			<input type="text" id="nif" name="nif" value="<%=body.nif%>" size="20" tabindex="1" class="input-item input-control" placeholder="<%=i18n.phBuscar%>" />
			<i class="input-item input-icon fa fa-search"></i>
			<span class="msg-error"><%=msgs.nif%></span>
		</div>
		<div class="input-group">
			<label for="user" class="required"><%=i18n.lblUsuario%></label>
			<input type="search" id="user" name="user" value="<%=body.user%>" size="35" tabindex="2" class="input-item input-control" title="<%=i18n.titApellidos%>" placeholder="<%=i18n.phBuscar%>" />
			<i class="input-item input-icon fa fa-search"></i>
		</div>
		<div class="input-group">
			<label for="correo" class="required"><%=i18n.lblCorreo%></label>
			<input type="text" id="correo" name="correo" value="" size="35" tabindex="3" class="input-item input-control" placeholder="<%=i18n.phBuscar%>" />
			<i class="input-item input-icon fa fa-search"></i>
		</div>

		<hr/>
		<a href="<%=list.prevname%>/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
		<button type="submit" class="btn btn-warn clear-all" tabindex="103"><i class="fas fa-list-ol"></i> <%=i18n.lblRestaurar%></button>
		<a href="#tab-2" class="btn btn-primary" tabindex="104"><i class="fas fa-plus"></i></a>
	</form>
	<form id="tab-2" action="/menu/link.html" class="tab-contents">
		<div class="input-group">
			<label for="ac-user" class="required"><%=i18n.lblUsuario%></label>
			<input type="search" id="ac-user" value="" size="35" tabindex="3" class="input-item input-control ac-user" placeholder="<%=i18n.phBuscar%>" />
			<input type="hidden" id="user" name="user" value="" />
			<i class="input-item input-icon fa fa-search"></i>
		</div>

		<hr/>
		<a href="<%=list.prevname%>/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
		<a href="#tab-1" class="btn btn-primary" tabindex="104"><i class="fas fa-search"></i></a>
	</form>
</div>

<div class="wrapper">
	<table class="paginable">
		<thead>
			<tr>
				<th>N&#186;</th>
				<th><span class="name-sort"><%=i18n.lblNif%></span><a href="/um/sort.html?by=nif" class="sort <%=list.nif%>"></a></th>
				<th><span class="name-sort"><%=i18n.lblNombre%></span><a href="/um/sort.html?by=nombre" class="sort <%=list.nombre%>"></a></th>
				<th><%=i18n.lblApellido1%><a href="/um/sort.html?by=ap1" class="sort <%=list.ap1%>"></a></th>
				<th><%=i18n.lblApellido2%><a href="/um/sort.html?by=ap2" class="sort <%=list.ap2%>"></a></th>
				<th><%=i18n.lblCorreo%><a href="/um/sort.html?by=correo" class="sort <%=list.correo%>"></a></th>
				<th><%=i18n.lblFecha%><a href="/um/sort.html?by=alta" class="sort <%=list.alta%>"></a></th>
				<th class="mw-120"></th>
			</tr>
		</thead>
		<tbody>
			<%-util.ab.empty(rows) || include("./users-tbody")%>
		</tbody>
		<tbody class="no-data hide">
			<tr>
				<td colspan="99">No existen usuarios asociados a este menu.</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="99">Menus: <span id="rows"><%=list.rows.length%></span>/<span id="size"><%=list.size%></span></td>
			</tr>
		</tfoot>
	</table>
	<%-pagination%>

	<hr/>
	<a href="/menu/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
</div>
