
<div class="form-glass">
	<h2><%=i18n.lblFormContact%></h2>

	<form id="contact" action="/contact.html" method="post" class="ajax">
		<input type="hidden" id="token" name="token" />

		<div class="input-item input-group-row">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" id="nombre" name="nombre" value="<%=body.nombre%>" maxlength="200" tabindex="1" 
				class="input-item ui-control ui-text" title="<%=i18n.titNombre%>" placeholder="Joe" />
			<i class="input-item input-icon fas fa-signature"></i>
			<div class="ui-errtip"><%=msgs.get("nombre")%></div>
		</div>

		<div class="input-item input-group-row">
			<label for="correo" class="required"><%=i18n.lblCorreo%>:</label>
			<input type="text" id="correo" name="correo" value="<%=body.correo%>" maxlength="200" tabindex="2" 
				class="input-item ui-control ui-text" title="<%=i18n.titCorreo%>" placeholder="<%=i18n.ejCorreo%>" />
			<i class="input-item input-icon far fa-envelope"></i>
			<div class="ui-errtip"><%=msgs.get("correo")%></div>
		</div>

		<div class="input-item input-group-row">
			<label for="asunto" class="required"><%=i18n.lblAsunto%>:</label>
			<input type="text" id="asunto" name="asunto" value="<%=body.asunto%>" maxlength="200" tabindex="7" 
				class="input-item ui-control ui-text" placeholder="Type a resume" />
			<i class="input-item input-icon fas fa-at"></i>
			<div class="ui-errtip"><%=msgs.get("asunto")%></div>
		</div>

		<div class="input-item input-group-row">
			<label for="info" class="required">Informacion:</label>
			<textarea id="info" name="info" class="input-item input-control ui-ta" tabindex="8" maxlength="600"><%=body.info%></textarea>
			<span class="msg-error"></span>
			<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
			<div class="ui-errtip"><%=msgs.get("info")%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>"><%=i18n.lblEnviar%><i class="fas fa-angle-double-right icon"></i></button>
		<button type="reset" class="btn btn-light" tabindex="101" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt icon"></i><%=i18n.lblLimpiar%></button>
	</form>
</div>

<script src="public/js/web-min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
