
<div class="wrapper">
	<h1><%=i18n.lblFormRegistro%></h1>
	<hr/>

	<form id="user" action="/signup.html" method="post" class="ajax">
		<div class="input-group">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" id="nombre" name="nombre" value="<%=body.nombre%>" size="35" maxlength="200" class="input-item input-control" tabindex="1" title="@titNombre;" placeholder="<%=i18n.phNombre%>" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.nombre%></span>
		</div>
		<div class="input-group">
			<label for="ap1" class="required"><%=i18n.lblApellido1%>:</label>
			<input type="text" id="ap1" name="ap1" value="<%=body.ap1%>" size="35" maxlength="200" class="input-item input-control" tabindex="2" title="@titApellido1;" placeholder="<%=i18n.phApellido1%>" />
			<i class="input-item input-icon fas fa-file-signature"></i>
			<span class="msg-error"><%=msgs.ap1%></span>
		</div>
		<div class="input-group">
			<label for="ap2"><%=i18n.lblApellido2%>:</label>
			<input type="text" id="ap2" name="ap2" value="<%=body.ap2%>" size="35" maxlength="200" class="input-item input-control" tabindex="3" title="@titApellido2;" placeholder="<%=i18n.phApellido2%>" />
			<i class="input-item input-icon fas fa-file-signature"></i>
			<span class="msg-error"><%=msgs.ap2%></span>
		</div>
		<div class="input-group">
			<label for="nif" class="required"><%=i18n.lblNifCif%>:</label>
			<input type="text" id="nif" name="nif" value="<%=body.nif%>" size="35" maxlength="20" class="input-item input-control" tabindex="4" title="@titNif;" placeholder="<%=i18n.phNif%>" />
			<i class="input-item input-icon far fa-address-card"></i>
			<div class="msg-error"><%=msgs.nif%></div>
		</div>
		<div class="input-group">
			<label for="correo" class="required"><%=i18n.lblCorreo%></label>
			<input type="text" id="correo" name="correo" value="<%=body.correo%>" size="40" maxlength="200" tabindex="5" class="input-item input-control clearable" title="Type your email" placeholder="xxxx@yyyy.com" />
			<i class="input-item input-icon far fa-envelope"></i>
			<div class="msg-error"><%=msgs.correo%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit captcha" tabindex="100" title="@titAcceder;"><%=i18n.lblEnviar%> &raquo;</button>
		<button type="reset" class="btn btn-light ml-2" tabindex="101" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
