
<div class="inline-block m-2">
    <label for="<%=id%>1" class="block mb-1 text-sm text-gray-900 dark:text-white">Importe:</label>
    <input type="text" id="<%=id%>1" name="<%=name%>1" tabindex="<%=tabindex%>"
        class="ui-float bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-300 dark:focus:border-blue-300"/>
    <span>...</span>
    <input type="text" id="<%=id%>2" name="<%=name%>2" tabindex="<%=(tabindex + 1)%>"
        class="ui-float bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-300 focus:border-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-300 dark:focus:border-blue-300"/>
</div>
