
<div id="tab-0" class="tab-content <%=css.tab0%>">
	<% actions.forEach(function(action) { %>
		<a href="<%=action.enlace%>"><img src="/public/img/png/<%=action.icono%>"/><%=action.nombre%></a>
	<% }); %>
	<a href="#tab-1" title="Datos de perfil"><img src="/public/img/png/user_edit.png"/></a>
	<a href="#tab-2" title="Cambio de clave"><img src="/public/img/png/bubble.png"/></a>
	<a href="#tab-5" title="Formulario de Pruebas"><img src="/public/img/png/test-tube.png"/></a>
	<a href="/logout.html"><img src="/public/img/png/exit.png"/></a>
</div>

<div id="tab-1" class="tab-content <%=css.tab1%>">
	<form method="post" action="/user/profile.html">
		<h2><%=i18n.msgFormLogin%></h2><hr/>

		<div class="ui-block">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" title="<%=i18n.titNombre%>" placeholder="<%=i18n.phNombre%>" />
			<span class="ui-errtip"><%=msgs.nombre%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap1" class="required"><%=i18n.lblApellido1%>:</label>
			<input type="text" id="ap1" name="ap1" maxlength="200" tabindex="2" class="ui-input ui-text" title="<%=i18n.titApellido%>" placeholder="<%=i18n.phApellido1%>" />
			<span class="ui-errtip"><%=msgs.ap1%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap2"><%=i18n.lblApellido2%>:</label>
			<input type="text" id="ap2" name="ap2" maxlength="200" tabindex="3" class="ui-input ui-text" title="<%=i18n.titApellido%>" placeholder="<%=i18n.phApellido2%>" />
			<span class="ui-errtip"><%=msgs.ap2%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="nif" class="required"><%=i18n.lblNifCif%>:</label>
			<input type="text" name="nif" maxlength="20" tabindex="4" class="ui-input ui-text" title="<%=i18n.titNif%>" placeholder="<%=i18n.phNif%>" />
			<div class="ui-errtip"><%=msgs.nif%></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="correo" class="required"><%=i18n.lblCorreo%>:</label>
			<input type="text" id="correo" name="correo" maxlength="200" tabindex="5" class="ui-input ui-text" title="<%=i18n.titCorreo%>" placeholder="xxxx@yyyy.com" />
			<div class="ui-errtip"><%=msgs.correo%></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="alta" class="required"><%=i18n.lblFecha%>:</label>
			<input type="text" id="alta" name="alta" size="15" maxlength="10" tabindex="6" readonly class="ui-input ui-text date disabled" title="<%=i18n.titDate%>" placeholder="<%=i18n.phDate%>" />
			<div class="ui-errtip"><%=msgs.alta%></div>
		</div>

		<hr/>
		<a href="#tab-0" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-2" class="tab-content <%=css.tab2%>">
	<h1><%=i18n.msgFormLogin%></h1>
	<hr/>

	<form method="post" action="/user/pass.html">
		<div class="ui-block">
			<label for="oldPass" class="required"><%=i18n.lblClaveAct%>:</label>
			<input type="password" id="oldPass" name="oldPass" value="" maxlength="200" class="ui-input ui-text" tabindex="1" title="@titUsuario;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.oldPass%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="clave" class="required"><%=i18n.lblNewClave%>:</label>
			<input type="password" id="clave" name="clave" value="" maxlength="200" class="ui-input ui-text" tabindex="2" title="@titClave;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.clave%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="reclave" class="required"><%=i18n.lblReClave%>:</label>
			<input type="password" id="reclave" name="reclave" value="" maxlength="200" class="ui-input ui-text" tabindex="3" title="@titClave;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.reclave%></span>
		</div>

		<hr/>
		<a href="#tab-0" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-3" class="tab-content <%=css.tab3%>">
	<form id="fmenu" action="/menu/list.html">
		<div class="flex flex-wrap [&>div]:grow">
			<%-include("../forms/uiText", { id: "fmenu-nombre", name: "nombre", label: "Nombre", tabindex: 1, ph: "File / Edit ..." })%>
			<%-include("../forms/uiText", { id: "fmenu-titulo", name: "titulo", label: "Título", tabindex: 2, ph: "Title attribute" })%>
			<%-include("../forms/uiText", { id: "fmenu-enlace", name: "enlace", label: "Enlace", tabindex: 3, ph: "http://, #tab-0, etc..." })%>
		</div>
		<div class="flex flex-wrap">
			<%-include("../forms/uiSelect", {
				id: "fmenu-tipo", name: "tipo", label: "Tipo", tabindex: 4, 
				emptyOption: "<option>Seleccione un tipo</option>", 
				keys: i18n.menuTipoKeys, values: i18n.menuTipoValues
			})%>
			<%-include("../forms/numbers/uiInteger", { id: "fmenu-orden", name: "orden", label: "Orden", tabindex: 5 })%>
			<%-include("../forms/dates/uiRangeDate", { id: "fmenu-f", name: "f", tabindex: 6 })%>
		</div>
		<%-include("../forms/uiFilterButtons")%>
	</form>

	<table id="menus">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Nombre<a href="#nombre_i18n" class="sort sort-none"></a></th>
				<th>Padre<a href="#padre_i18n" class="sort sort-none"></a></th>
				<th>Título<a href="#titulo_i18n" class="sort sort-none"></a></th>
				<th>Enlace<a href="#enlace" class="sort sort-none"></a></th>
				<th>Tipo<a href="#tipo_i18n" class="sort sort-none"></a></th>
				<th>Orden<a href="#orden" class="sort sort-none"></a></th>
				<th>F. Creación<a href="#creado" class="sort sort-none"></a></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="menus-body" class="hide">
			<tr class="tb-data">
				<td class="text-center">@count;</td>
				<td><a href="#find" class="link">@nombre_i18n;</a></td>
				<td><a href="#find-padre" class="link">@padre_i18n;</a></td>
				<td>@titulo_i18n;</td>
				<td><a href="@enlace;" class="link" title="@titulo;">@enlace;</a></td>
				<td>@tipo_i18n;</td>
				<td class="text-right">@orden;</td>
				<td class="text-center">@creado_i18n;</td>
				<td class="text-center">
					<a href="#find" class="action"><i class="fas fa-search fa-lg"></i></a>
					<a href="#remove" class="action-red"><i class="fa fa-times fa-lg"></i></a>
				</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot class="hide">
			<tr><td colspan="99">Filas: @size;</td></tr>
		</tfoot>
	</table>
	<%-include("../forms/uiTableButtons")%>
</div>

<div id="tab-4" class="tab-content <%=css.tab4%>">
	<form id="menu" action="/menu/save.html" method="post" class="card-glass">
		<!-- reset form not to aplly for hidden inputs -->
		<input type="text" name="id" class="hide" />

		<div class="mx-auto my-2 lg:px-10">
			<div class="flex flex-wrap [&>div]:grow">
				<%-include("../forms/uiText", { id: "menu-nombre", name: "nombre", label: "Nombre", tabindex: 1, ph: "File / Edit ..." })%>
				<%-include("../forms/uiText", { id: "menu-titulo", name: "titulo", label: "Título", tabindex: 2, ph: "Title attribute" })%>
				<%-include("../forms/uiText", { id: "menu-enlace", name: "enlace", label: "Enlace", tabindex: 3, ph: "http://, #tab-0, etc..." })%>
			</div>
			<%-include("../forms/uiAutocomplete", { id: "menu-padre", name: "padre_id", label: "Padre", tabindex: 4 })%>
			<div class="flex flex-wrap">
				<%-include("../forms/uiSelect", {
					id: "menu-tipo", name: "tipo", label: "Tipo", tabindex: 4, emptyOption: null, 
					keys: i18n.menuTipoKeys, values: i18n.menuTipoValues
				})%>
				<%-include("../forms/numbers/uiInteger", { id: "menu-orden", name: "orden", label: "Orden", tabindex: 5 })%>
				<%-include("../forms/dates/uiDate", { id: "menu-creado", name: "creado", tabindex: 6, disabled: "disabled" })%>
			</div>
		</div>
		<%-include("../forms/uiFormButtons")%>
	</form>
</div>

<div id="tab-5" class="tab-content <%=css.tab2%>">
	<form id="ftest" action="/test/filter.html">
		<div class="flex flex-wrap [&>div]:grow">
			<%-include("../forms/uiText", { id: "ftest-name", name: "name", label: "Nombre", tabindex: 1, ph: "" })%>
			<%-include("../forms/uiText", { id: "ftest-memo", name: "memo", label: "Memoria", tabindex: 2, ph: "" })%>
		</div>
		<div class="flex flex-wrap">
			<%-include("../forms/numbers/uiRangeFloat", { id: "ftest-imp", name: "ftest-imp", tabindex: 3 })%>
			<%-include("../forms/dates/uiRangeDate", { id: "ftest-f", name: "f", tabindex: 5 })%>
		</div>
		<%-include("../forms/uiFilterButtons")%>
	</form>

	<table id="pruebas">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Nombre<a href="#name" class="sort sort-none"></a></th>
				<th>E-Mail<a href="#email" class="sort sort-none"></a></th>
				<th>Info<a href="#memo" class="sort sort-none"></a></th>
				<th>Importe<a href="#imp" class="sort sort-none"></a></th>
				<th>Fecha<a href="#fecha" class="sort sort-none"></a></th>
				<th>C4</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="pruebas-body" class="hide">
			<tr class="tb-data">
				<td class="text-center">@count;</td>
				<td><a href="#find" class="link">@name;</a></td>
				<td>@email;</td>
				<td>@memo_i18n;</td>
				<td class="text-right">@imp_i18n;</td>
				<td class="text-center">@fecha_i18n;</td>
				<td class="text-right"><input type="text" name="test" value="@c4_i18n;" class="ui-input ui-float" /></td>
				<td class="text-center">
					<a href="#find" class="action"><i class="fas fa-search fa-lg"></i></a>
					<a href="#remove" class="action-red"><i class="fa fa-times fa-lg"></i></a>
			</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot data-tpl="pruebas-footer" class="hide">
			<tr><td colspan="4">Filas: @size;</td><td class="text-right">@imp_i18n;</td><td></td><td class="text-right">@c4_i18n;</td><td></td></tr>
		</tfoot>
	</table>
	<%-include("../forms/uiTableButtons")%>
</div>

<div id="tab-6" class="tab-content <%=css.tab3%>">
	<form id="test" action="/test/save.html" method="post" enctype="multipart/form-data" class="card-glass">
		<!-- reset form not to aplly for hidden inputs -->
		<input type="text" name="id" class="hide" />

		<div class="mx-auto my-2 lg:px-10">
			<%-include("../forms/uiAutocomplete", { id: "test-nif", name: "nif", label: "Nombre", tabindex: 1 })%>
			<div class="flex flex-wrap">
				<%-include("../forms/numbers/uiEuro", { id: "test-imp", name: "imp_i18n", label: "Importe", tabindex: 2 })%>
				<%-include("../forms/dates/uiDate", { id: "test-fecha", name: "fecha", tabindex: 3, disabled: null })%>
			</div>
			<div class="flex flex-wrap m-2"> <!-- check-group checked subgroup by id -->
				<%-include("../forms/checkboxes/uiCheckRed", { id: "test-bin1", name: "binary", value:"1", label: "Check 1", tabindex: 4 })%>
				<%-include("../forms/checkboxes/uiCheckGreen", { id: "test-bin2", name: "binary", value:"2", label: "Check 2", tabindex: 5 })%>
				<%-include("../forms/checkboxes/uiCheckPurple", { id: "test-bin3", name: "binary", value:"4", label: "Check 3", tabindex: 6 })%>
				<%-include("../forms/checkboxes/uiCheckTeal", { id: "test-bin4", name: "binary", value:"8", label: "Check 4", tabindex: 7 })%>
				<%-include("../forms/checkboxes/uiCheckRight", { id: "binary", name: "", value:"15", label: "All", tabindex: 8 })%>
			</div>
			<div class="flex flex-wrap m-2"> <!-- check-list checked subgroup by id -->
				<%-include("../forms/checkboxes/uiCheckRed", { id: "test-list1", name: "values", value:"1", label: "Check 1", tabindex: 9 })%>
				<%-include("../forms/checkboxes/uiCheckGreen", { id: "test-list2", name: "values", value:"2", label: "Check 2", tabindex: 10 })%>
				<%-include("../forms/checkboxes/uiCheckPurple", { id: "test-list3", name: "values", value:"3", label: "Check 3", tabindex: 11 })%>
				<%-include("../forms/checkboxes/uiCheckTeal", { id: "test-list4", name: "values", value:"4", label: "Check 4", tabindex: 12 })%>
				<%-include("../forms/checkboxes/uiCheckRight", { id: "values", name: "", value:"15", label: "All", tabindex: 13 })%>
			</div>
			<%-include("../forms/uiFile", { id: "test-adjuntos", name: "adjuntos", tabindex: 14 })%>
			<!-- <a id="uploads" href="/test/api/files" class="btn btn-success" tabindex="5">Upload<i class="fas fa-upload ml-1"></i></button> -->
			<%-include("../forms/uiTextArea", { id: "test-memo", name: "memo", label: "Memoria", tabindex: 15 })%>
		</div>
		<%-include("../forms/uiFormButtons")%>
	</form>
</div>

<script type="module" src="/public/js/admin.js"></script>
