
<!-- Acciones de administración -->
<div id="tab-0" class="tab-content <%=css.tab0%>">
	<div class="flex">
		<% actions.forEach(function(action) { %>
			<%-include("../components/iconCard", action)%>
		<% }); %>
	</div>
	<div class="flex">
		<%-include("../components/iconCard", { enlace: "#tab-1", icono: "user_edit.png", titulo: "Datos de perfil", nombre: "Datos del perfil" })%>
		<%-include("../components/iconCard", { enlace: "#tab-2", icono: "bubble.png", titulo: "Cambiar la clave de acceso", nombre: "Cambio de clave" })%>
		<%-include("../components/iconCard", { enlace: "#tab-5", icono: "test-tube.png", titulo: "Formulario de pruebas", nombre: "Formulario de pruebas" })%>
		<%-include("../components/iconCard", { enlace: "/logout.html", icono: "exit.png", titulo: "Cerrar la sesión", nombre: "Desconectar" })%>
	</div>
</div>

<!-- Datos del perfil -->
<div id="tab-1" class="tab-content <%=css.tab1%>">
	<form id="profile" method="post" action="/user/profile.html" class="card-glass">

		<h2>Datos del Usuario</h2><br/>
		<%-include("../forms/uiText", { id: "profile-nombre", name: "nombre", label: "Nombre", tabindex: 1, required: css.required, title: null, ph: "Joe" })%>
		<%-include("../forms/uiText", { id: "profile-ap1", name: "ap1", label: "Primer Apellido", tabindex: 2, required: css.required, title: null, ph: "Walter" })%>
		<%-include("../forms/uiText", { id: "profile-ap2", name: "ap2", label: "Segundo Apellido", tabindex: 3, required: css.required, title: null, ph: "White" })%>
		<%-include("../forms/uiText", { id: "profile-nif", name: "nif", label: "Nif", tabindex: 4, required: css.required, title: null, ph: "11111111H" })%>
		<%-include("../forms/uiEmail", { id: "profile-correo", name: "correo", tabindex: 5 })%>

		<div class="my-4">
			<a href="#tab-0" tabindex="101" class="btn btn-primary"><i class="fas fa-angle-double-left mr-2"></i>Volver</a>
			<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
			<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
		</div>
	</form>
</div>

<!-- Cambio de contraseña -->
<div id="tab-2" class="tab-content <%=css.tab2%>">
	<form id="pass" method="post" action="/user/pass.html" class="card-glass">

		<h2>Nueva Contraseña</h2><br/>
		<%-include("../forms/uiPassword", { id: "pass-oldPass", name: "oldPass", label: "Clave Actual", tabindex: 1 })%>
		<%-include("../forms/uiPassword", { id: "pass-clave", name: "clave", label: "Nueva Actual", tabindex: 2 })%>
		<%-include("../forms/uiPassword", { id: "pass-reclave", name: "reclave", label: "Confirmación de la Clave", tabindex: 3 })%>

		<div class="my-4">
			<a href="#tab-0" tabindex="101" class="btn btn-primary"><i class="fas fa-angle-double-left mr-2"></i>Volver</a>
			<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
			<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
		</div>
	</form>
</div>

<!-- Modelo Menu -->
<div id="tab-3" class="tab-content <%=css.tab3%>">
	<form id="fmenu" action="/menu/list.html" class="card">
		<h2>Menu Search</h2>
		<div class="flex flex-wrap [&>div]:grow">
			<%-include("../forms/uiText", { id: "fmenu-nombre", name: "nombre", label: "Nombre", tabindex: 1, required: null, title: null, ph: "File / Edit ..." })%>
			<%-include("../forms/uiText", { id: "fmenu-titulo", name: "titulo", label: "Título", tabindex: 2, required: null, title: null, ph: "Title attribute" })%>
			<%-include("../forms/uiText", { id: "fmenu-enlace", name: "enlace", label: "Enlace", tabindex: 3, required: null, title: null, ph: "http://, #tab-0, etc..." })%>
		</div>
		<div class="flex flex-wrap">
			<%-include("../forms/uiSelect", {
				id: "fmenu-tipo", name: "tipo", label: "Tipo", tabindex: 4, 
				emptyOption: "<option>Seleccione un tipo</option>", values: i18n.menuTipoValues
			})%>
			<%-include("../forms/numbers/uiInteger", { id: "fmenu-orden", name: "orden", label: "Orden", tabindex: 5 })%>
			<%-include("../forms/dates/uiRangeDate", { id: "fmenu-f", name: "f", tabindex: 6 })%>
		</div>
		<%-include("../forms/buttons/uiFilter")%>
	</form>

	<table id="menus">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Nombre<a href="#nombre_i18n" class="sort sort-none"></a></th>
				<th>Padre<a href="#padre_i18n" class="sort sort-none"></a></th>
				<th>Título<a href="#titulo_i18n" class="sort sort-none"></a></th>
				<th>Enlace<a href="#enlace" class="sort sort-none"></a></th>
				<th>Tipo<a href="#tipo_i18n" class="sort sort-none"></a></th>
				<th>Orden<a href="#orden" class="sort sort-none"></a></th>
				<th>F. Creación<a href="#creado" class="sort sort-none"></a></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="menus-body" class="hide">
			<tr class="tb-data">
				<td class="text-center">@count;</td>
				<td><a href="#find" class="link">@nombre_i18n;</a></td>
				<td><a href="#find-padre" class="link">@padre_i18n;</a></td>
				<td>@titulo_i18n;</td>
				<td><a href="@enlace;" class="link" title="@titulo;">@enlace;</a></td>
				<td>@tipo_i18n;</td>
				<td class="text-right">@orden;</td>
				<td class="text-center">@creado_i18n;</td>
				<td class="text-center">
					<a href="#find" class="action action-blue"><i class="fas fa-search fa-lg"></i></a>
					<a href="#remove" class="action action-red"><i class="fa fa-times fa-lg"></i></a>
				</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot class="hide">
			<tr><td colspan="99">Filas: @size;</td></tr>
		</tfoot>
	</table>
	<%-include("../forms/buttons/uiTable")%>
</div>

<div id="tab-4" class="tab-content <%=css.tab4%>">
	<form id="menu" action="/menu/save.html" method="post" class="card-glass">
		<!-- reset form not to aplly for hidden inputs -->
		<input type="text" name="id" class="hide" />
		<input type="text" name="mask" class="hide" />

		<h2>Menu</h2>
		<div class="mx-auto my-2 lg:px-10">
			<div class="flex flex-wrap [&>div]:grow">
				<%-include("../forms/uiText", { id: "menu-nombre", name: "nombre", label: "Nombre", tabindex: 1, required: css.required, title: null, ph: "File / Edit ..." })%>
				<%-include("../forms/uiText", { id: "menu-titulo", name: "titulo", label: "Título", tabindex: 2, required: css.required, title: null, ph: "Title attribute" })%>
				<%-include("../forms/uiText", { id: "menu-enlace", name: "enlace", label: "Enlace", tabindex: 3, required: css.required, title: null, ph: "http://, #tab-0, etc..." })%>
			</div>
			<%-include("../forms/uiAutocomplete", { id: "menu-padre", name: "padre", label: "Padre", tabindex: 4, disabled: null })%>
			<div class="flex flex-wrap">
				<%-include("../forms/uiSelect", {
					id: "menu-tipo", name: "tipo", label: "Tipo", tabindex: 4, emptyOption: null, values: i18n.menuTipoValues
				})%>
				<%-include("../forms/numbers/uiInteger", { id: "menu-orden", name: "orden", label: "Orden", tabindex: 5 })%>
				<%-include("../forms/dates/uiDate", { id: "menu-creado", name: "creado", tabindex: 6, disabled: css.disabled })%>
			</div>
		</div>
		<%-include("../forms/buttons/uiForm")%>
	</form>
</div>

<!-- Modelo Test -->
<div id="tab-5" class="tab-content <%=css.tab2%>">
	<form id="ftest" action="/test/list.html" class="card">
		<h2>Test Search</h2>
		<div class="flex flex-wrap [&>div]:grow">
			<%-include("../forms/uiText", { id: "ftest-name", name: "name", label: "Nombre", tabindex: 1, title: null, required: null, ph: "" })%>
			<%-include("../forms/uiText", { id: "ftest-memo", name: "memo", label: "Memoria", tabindex: 2, title: null, required: null, ph: "" })%>
		</div>
		<div class="flex flex-wrap">
			<%-include("../forms/numbers/uiRangeFloat", { id: "ftest-imp", name: "ftest-imp", tabindex: 3 })%>
			<%-include("../forms/dates/uiRangeDate", { id: "ftest-f", name: "f", tabindex: 5 })%>
		</div>
		<%-include("../forms/buttons/uiFilter")%>
	</form>

	<table id="pruebas">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Nombre<a href="#name" class="sort sort-none"></a></th>
				<th>E-Mail<a href="#email" class="sort sort-none"></a></th>
				<th>Info<a href="#memo" class="sort sort-none"></a></th>
				<th>Importe<a href="#imp" class="sort sort-none"></a></th>
				<th>Fecha<a href="#fecha" class="sort sort-none"></a></th>
				<th>C4</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="pruebas-body" class="hide">
			<tr class="tb-data">
				<td class="text-center">@count;</td>
				<td><a href="#find" class="link">@name;</a></td>
				<td>@email;</td>
				<td>@memo_i18n;</td>
				<td class="text-right">@imp_i18n;</td>
				<td class="text-center">@fecha_i18n;</td>
				<td class="text-right"><input type="text" name="test" value="@c4_i18n;" class="ui-input ui-float" /></td>
				<td class="text-center">
					<a href="#find" class="action action-blue"><i class="fas fa-search fa-lg"></i></a>
					<a href="#remove" class="action action-red"><i class="fa fa-times fa-lg"></i></a>
			</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot data-tpl="pruebas-footer" class="hide">
			<tr><td colspan="4">Filas: @size;</td><td class="text-right">@imp_i18n;</td><td></td><td class="text-right pr-2">@c4_i18n;</td><td></td></tr>
		</tfoot>
	</table>
	<%-include("../forms/buttons/uiTable")%>
</div>

<div id="tab-6" class="tab-content <%=css.tab3%>">
	<form id="test" action="/test/save.html" method="post" enctype="multipart/form-data" class="card-glass">
		<!-- reset form not to aplly for hidden inputs -->
		<input type="text" name="id" class="hide" />

		<h2>Test</h2>
		<div class="mx-auto lg:px-10">
			<%-include("../forms/uiAutocomplete", { id: "test-nif", name: "nif", label: "Nombre", tabindex: 1, disabled: null })%>
			<div class="flex flex-wrap my-2">
				<%-include("../forms/numbers/uiEuro", { id: "test-imp", name: "imp_i18n", label: "Importe", tabindex: 2, disabled: null })%>
				<%-include("../forms/dates/uiDate", { id: "test-fecha", name: "fecha", tabindex: 3, disabled: null })%>
			</div>
			<div class="flex flex-wrap [&>div]:grow my-2"> <!-- check-group checked subgroup by id -->
				<%-include("../forms/checkboxes/uiCheckRed", { id: "test-bin1", name: "binary", value:"1", label: "Check 1", tabindex: 4 })%>
				<%-include("../forms/checkboxes/uiCheckGreen", { id: "test-bin2", name: "binary", value:"2", label: "Check 2", tabindex: 5 })%>
				<%-include("../forms/checkboxes/uiCheckPurple", { id: "test-bin3", name: "binary", value:"4", label: "Check 3", tabindex: 6 })%>
				<%-include("../forms/checkboxes/uiCheckTeal", { id: "test-bin4", name: "binary", value:"8", label: "Check 4", tabindex: 7 })%>
				<%-include("../forms/checkboxes/uiCheckRight", { id: "binary", name: "", value:"15", label: "All", tabindex: 8 })%>
			</div>
			<div class="flex flex-wrap [&>div]:grow my-2"> <!-- check-list checked subgroup by id -->
				<%-include("../forms/checkboxes/uiCheckRed", { id: "test-list1", name: "values", value:"1", label: "Check 1", tabindex: 9 })%>
				<%-include("../forms/checkboxes/uiCheckGreen", { id: "test-list2", name: "values", value:"2", label: "Check 2", tabindex: 10 })%>
				<%-include("../forms/checkboxes/uiCheckPurple", { id: "test-list3", name: "values", value:"3", label: "Check 3", tabindex: 11 })%>
				<%-include("../forms/checkboxes/uiCheckTeal", { id: "test-list4", name: "values", value:"4", label: "Check 4", tabindex: 12 })%>
				<%-include("../forms/checkboxes/uiCheckRight", { id: "values", name: "", value:"15", label: "All", tabindex: 13 })%>
			</div>
			<%-include("../forms/uiFile", { id: "test-adjuntos", name: "adjuntos", tabindex: 14 })%>
			<!-- <a id="uploads" href="/test/api/files" class="btn btn-success" tabindex="5">Upload<i class="fas fa-upload ml-2"></i></button> -->
			<%-include("../forms/uiTextArea", { id: "test-memo", name: "memo", label: "Memoria", tabindex: 15 })%>
		</div>
		<%-include("../forms/buttons/uiForm")%>
	</form>
</div>

<script type="module" src="/public/js/admin.js"></script>
