
<div id="tab-0" class="tab-content <%=css.tab0%>">
	<% actions.forEach(function(action) { %>
		<a href="<%=action.enlace%>"><img src="/public/img/png/<%=action.icono%>"/><%=action.nombre%></a>
	<% }); %>
	<a href="#tab-1" title="Datos de perfil"><img src="/public/img/png/user_edit.png"/></a>
	<a href="#tab-2" title="Cambio de clave"><img src="/public/img/png/bubble.png"/></a>
	<a href="/logout.html"><img src="/public/img/png/exit.png"/></a>
</div>

<div id="tab-1" class="tab-content <%=css.tab1%>">
	<form method="post" action="/user/profile.html">
		<h2><%=i18n.msgFormLogin%></h2><hr/>

		<div class="ui-block">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" title="<%=i18n.titNombre%>" placeholder="<%=i18n.phNombre%>" />
			<span class="ui-errtip"><%=msgs.nombre%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap1" class="required"><%=i18n.lblApellido1%>:</label>
			<input type="text" id="ap1" name="ap1" maxlength="200" tabindex="2" class="ui-input ui-text" title="<%=i18n.titApellido%>" placeholder="<%=i18n.phApellido1%>" />
			<span class="ui-errtip"><%=msgs.ap1%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap2"><%=i18n.lblApellido2%>:</label>
			<input type="text" id="ap2" name="ap2" maxlength="200" tabindex="3" class="ui-input ui-text" title="<%=i18n.titApellido%>" placeholder="<%=i18n.phApellido2%>" />
			<span class="ui-errtip"><%=msgs.ap2%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="nif" class="required"><%=i18n.lblNifCif%>:</label>
			<input type="text" name="nif" maxlength="20" tabindex="4" class="ui-input ui-text" title="<%=i18n.titNif%>" placeholder="<%=i18n.phNif%>" />
			<div class="ui-errtip"><%=msgs.nif%></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="correo" class="required"><%=i18n.lblCorreo%>:</label>
			<input type="text" id="correo" name="correo" maxlength="200" tabindex="5" class="ui-input ui-text" title="<%=i18n.titCorreo%>" placeholder="xxxx@yyyy.com" />
			<div class="ui-errtip"><%=msgs.correo%></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="alta" class="required"><%=i18n.lblFecha%>:</label>
			<input type="text" id="alta" name="alta" size="15" maxlength="10" tabindex="6" readonly class="ui-input ui-text date disabled" title="<%=i18n.titDate%>" placeholder="<%=i18n.phDate%>" />
			<div class="ui-errtip"><%=msgs.alta%></div>
		</div>

		<hr/>
		<a href="#tab-0" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-2" class="tab-content <%=css.tab2%>">
	<h1><%=i18n.msgFormLogin%></h1>
	<hr/>

	<form method="post" action="/user/pass.html">
		<div class="ui-block">
			<label for="oldPass" class="required"><%=i18n.lblClaveAct%>:</label>
			<input type="password" id="oldPass" name="oldPass" value="" maxlength="200" class="ui-input ui-text" tabindex="1" title="@titUsuario;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.oldPass%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="clave" class="required"><%=i18n.lblNewClave%>:</label>
			<input type="password" id="clave" name="clave" value="" maxlength="200" class="ui-input ui-text" tabindex="2" title="@titClave;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.clave%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="reclave" class="required"><%=i18n.lblReClave%>:</label>
			<input type="password" id="reclave" name="reclave" value="" maxlength="200" class="ui-input ui-text" tabindex="3" title="@titClave;" placeholder="********" />
			<span class="ui-errtip"><%=msgs.reclave%></span>
		</div>

		<hr/>
		<a href="#tab-0" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101" title="@titAcceder;"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-3" class="tab-content <%=css.tab3%>">
	<form id="fmenu" action="/menu/list.html">
		<h2>Menus</h2><hr/>

		<div class="ui-block">
			<label for="fmenu-nombre">Nombre:</label>
			<input type="text" id="fmenu-nombre" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" placeholder="File / Edit ..." />
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-block">
			<label for="fmenu-titulo">Título:</label>
			<input type="text" id="fmenu-titulo" name="titulo" maxlength="200" tabindex="2" class="ui-input ui-text" placeholder="Title attribute" />
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-block">
			<label for="fmenu-enlace">Enlace:</label>
			<input type="text" id="fmenu-enlace" name="enlace" maxlength="200" tabindex="3" class="ui-input ui-text" placeholder="http://, #tab-0, etc..." />
			<div class="ui-errtip"></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="fmenu-tipo">Tipo</label>
			<select id="fmenu-tipo" name="tipo" tabindex="4" class="ui-input ui-select">
				<option></option>
				<%-i18n.menuTiposOpt%>
			</select>
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-block">
			<label for="fmenu-orden">Orden:</label>
			<input type="number" id="fmenu-orden" name="orden" maxlength="200" tabindex="5" class="ui-input ui-integer" placeholder="1, 2, 3, etc..." />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-block">
			<label for="f1">Fecha:</label>
			<input type="date" id="f1" name="f1" value="" class="ui-input ui-date" tabindex="6" />...
			<input type="date" id="f2" name="f2" value="" class="ui-input ui-date" tabindex="7" />
		</div>

		<hr/>
		<a href="#tab-0" tabindex="20" class="btn btn-primary"><i class="fas fa-angle-double-left licon"></i>Volver</a>
		<button type="reset" class="btn btn-light" tabindex="21">Limpiar<i class="fas fa-solid fa-broom ricon"></i></button>
		<button type="submit" class="btn btn-primary" tabindex="22">Buscar<i class="fas fa-search ricon"></i></button>
		<a href="#next-tab" tabindex="23" class="btn btn-success create-data">Nuevo <i class="fas fa-solid fa-plus ricon"></i></a>
	</form>

	<table id="menus">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Nombre<a href="#nombre_i18n" class="sort sort-none"></a></th>
				<th>Padre<a href="#padre_i18n" class="sort sort-none"></a></th>
				<th>Título<a href="#titulo_i18n" class="sort sort-none"></a></th>
				<th>Enlace<a href="#enlace" class="sort sort-none"></a></th>
				<th>Tipo<a href="#tipo_i18n" class="sort sort-none"></a></th>
				<th>Orden<a href="#orden" class="sort sort-none"></a></th>
				<th>Importe<a href="#imp" class="sort sort-none"></a></th>
				<th>F. Creación<a href="#creado" class="sort sort-none"></a></th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody id="pruebas-row" class="hide">
			<tr class="tb-data">
				<td class="textc">@count;</td>
				<td><a href="#find">@nombre_i18n;</a></td>
				<td><a href="#find-padre">@padre_i18n;</a></td>
				<td>@titulo_i18n;</td>
				<td><a href="@enlace;" title="@titulo;">@enlace;</a></td>
				<td>@tipo_i18n;</td>
				<td class="textr">@orden;</td>
				<td class="textr">@imp_i18n;</td>
				<td class="textc">@creado_i18n;</td>
				<td class="textc">
					<a href="#find"><i class="fas fa-search icon"></i></a>
					<a href="#remove"><i class="fa fa-times icon text-err"></i></a>
				</td>
			</tr>
		</tbody>
		<tbody class="no-data">
			<tr><td colspan="99"><p>No existen coincidencias a mostrar en la tabla</p></td></tr>
		</tbody>
		<tfoot class="hide">
			<tr><td colspan="99">Filas: @size;</td></tr>
		</tfoot>
	</table>

	<div class="navbar">
		<a href="#tab-0" class="btn btn-primary"><i class="fas fa-angle-double-left licon"></i>Volver</a>
		<a href="#next-tab" class="btn btn-success create-data">Nuevo <i class="fas fa-solid fa-plus ricon"></i></a>
		<a href="#reset" class="btn btn-danger"><i class="fas fa-solid fa-trash licon"></i>Borrar</a>
	</div>
</div>

<div id="tab-4" class="tab-content <%=css.tab4%>">
	<form id="menu" action="/menu/save.html" method="post" class="form-glass">
		<!-- reset form not to aplly for hidden inputs -->
		<input type="text" id="id" name="id" class="hide" />

		<div class="ui-inline">
			<label for="menu-nombre" class="required">Nombre:</label>
			<input type="text" id="menu-nombre" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-inline">
			<label for="menu-titulo" class="required">Título:</label>
			<input type="text" id="menu-titulo" name="titulo" maxlength="200" tabindex="2" class="ui-input ui-text" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="menu-enlace" class="required">Enlace:</label>
			<input type="text" id="menu-enlace" name="enlace" maxlength="200" tabindex="3" class="ui-input ui-text" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="menu-padre" class="required">Padre:</label>
			<input type="text" id="menu-padre" name="padre_es" maxlength="200" tabindex="3" class="ui-input ui-text" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="menu-imp" class="required">Importe:</label>
			<input type="text" id="menu-imp" name="imp_i18n" maxlength="20" tabindex="4" class="ui-input ui-float" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="menu-fecha" class="required">Fecha:</label>
			<input type="date" id="menu-fecha" name="creado" tabindex="5" class="ui-input ui-date" disabled />
			<div class="ui-errtip"></div>
		</div>

		<div class="navbar">
			<hr/>
			<a href="#prev-tab" class="btn btn-primary" tabindex="101"><i class="fas fa-angle-double-left licon"></i>Volver</a>
			<button type="reset" class="btn btn-light" tabindex="102"><i class="fas fa-brush licon"></i>Clear</i></button>
			<button type="submit" class="btn btn-success" tabindex="103"><i class="fas fa-save licon"></i>Save</button>
			<button id="clone" type="button" class="btn btn-success" tabindex="104"><i class="far fa-copy licon"></i></i>Clone</button>
			<button id="remove-item" type="button" class="btn btn-danger update-only" tabindex="105"><i class="fas fa-solid fa-trash licon"></i> Borrar</button>
			<span class="vertical-line update-only"></span>
			<button id="first-item" type="button" class="btn btn-primary update-only" tabindex="106"><i class="fas fa-angle-double-left"></i></button>
			<button id="prev-item" type="button" class="btn btn-primary update-only" tabindex="107"><i class="fas fa-angle-left"></i></button>
			<button id="next-item" type="button" class="btn btn-primary update-only" tabindex="108"><i class="fas fa-angle-right"></i></button>
			<button id="last-item" type="button" class="btn btn-primary update-only" tabindex="109"><i class="fas fa-angle-double-right"></i></button>
		</div>
	</form>
</div>

<script type="module" src="/public/js/admin.js"></script>
