<!-- progressbar -->
<ul id="progressbar">
	<li id="step-0" class="active">Home</li>
	<li id="step-1">Messages</li>
	<li id="step-2">Tables</li>
	<li id="step-3">Forms</li>
	<li id="step-4">Resume</li>
</ul>

<div id="tab-0" class="tab-content <%=css.tab0%>">
	<div class="alert alert-info">
		<div class="alert-icon"><i class="fas fa-volume-up"></i></div>
		<div class="alert-text"><b>Info:</b><span>Area de pruebas</span></div>
	</div>
	<div class="alert alert-note">
		<div class="alert-icon"><i class="fas fa-bell"></i></div>
		<div class="alert-text"><b>Note:</b><span>Area de pruebas</span></div>
	</div>
	<div class="alert alert-success">
		<div class="alert-icon"><i class="fas fa-exclamation-circle"></i></div>
		<div class="alert-text"><b>Saccessfully:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert alert-warn">
		<div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
		<div class="alert-text">
			<b>Warn:</b> <span>Area de pruebas</span>
			<p><b>Extra info:</b> añkjfdsaldñlka fjasñlkadjf asñlk adñlkajf asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj asñlkdsfdjk aslsñlkadfkjk asñsdñlkafjlk asñldkfdjk aksldjf alskfdj</p>
		</div>
	</div>
	<div class="alert alert-error">
		<div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
		<div class="alert-text"><b>Error:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert alert-danger">
		<div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
		<div class="alert-text"><b>Danger:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="alert alert-dark">
		<div class="alert-icon"><i class="fas fa-exclamation-triangle"></i></div>
		<div class="alert-text"><b>Dark:</b> <span>Area de pruebas</span></div>
	</div>
	<div class="m-4 p-4 border rounded-lg alert-info">
		<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, dolorum, veritatis tenetur ea dolor quo consequuntur ullam molestias fugit quam.</span>
		<a id="test" href="#toggle" class="link" data-toggle="fa-angle-double-down fa-angle-double-up">Más Info <i class="fas fa-angle-double-down ml-1"></i></a>
		<div class="info-test hide"><hr/>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Corrupti rem aut, minus asperiores, sunt eligendi hic ipsum maiores itaque numquam sequi eius voluptates consequuntur debitis impedit quae dolore ad, enim?</div>
	</div>

	<div class="navbar">
		<a href="#next-tab" class="btn btn-primary">Sig.<i class="fas fa-angle-double-right ml-1"></i></a>
		<a href="#tab-2" class="btn btn-primary">&nbsp;<i class="fas fa-angle-double-right"></i></a>
	</div>
</div>

<div id="tab-1" class="tab-content <%=css.tab1%>">
	<div class="form-glass">
		<h2><%=i18n.lblFormContact%></h2>

		<form id="contact" action="/contact.html" method="post" class="ajax">
			<input type="hidden" id="token" name="token" />

			<div class="ui-block">
				<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
				<input type="text" id="nombre" name="nombre" maxlength="200" tabindex="1" class="input-item ui-control ui-text" title="<%=i18n.titNombre%>" placeholder="Joe" />
				<i class="input-item input-icon fas fa-signature"></i>
				<div class="ui-errtip"><%=msgs.nombre%></div>
			</div>

			<div class="ui-block">
				<label for="correo" class="required"><%=i18n.lblCorreo%>:</label>
				<input type="text" id="correo" name="correo" maxlength="200" tabindex="2" class="input-item ui-control ui-text" title="<%=i18n.titCorreo%>" placeholder="<%=i18n.ejCorreo%>" />
				<i class="input-item input-icon far fa-envelope"></i>
				<div class="ui-errtip"><%=msgs.correo%></div>
			</div>

			<div class="ui-block">
				<label for="asunto" class="required"><%=i18n.lblAsunto%>:</label>
				<input type="text" id="asunto" name="asunto" maxlength="200" tabindex="7" class="input-item ui-control ui-text" placeholder="Type a resume" />
				<i class="input-item input-icon fas fa-at"></i>
				<div class="ui-errtip"><%=msgs.asunto%></div>
			</div>

			<div class="ui-block">
				<label for="info" class="required">Informacion:</label>
				<textarea id="info" name="info" class="input-item input-control ui-ta" tabindex="8" maxlength="600"></textarea>
				<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
				<div class="ui-errtip"><%=msgs.info%></div>
			</div>

			<hr/>
			<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>"><%=i18n.lblEnviar%><i class="fas fa-angle-double-right ml-1"></i></button>
			<button type="reset" class="btn btn-light" tabindex="101" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt ml-1"></i><%=i18n.lblLimpiar%></button>
		</form>
	</div>

	<div class="navbar">
		<a href="#prev-tab" class="btn btn-primary"><i class="fas fa-angle-double-left ml-1"></i>Prev.</a>
		<a href="#next-tab" class="btn btn-primary">Sig.<i class="fas fa-angle-double-right ml-1"></i></a>
	</div>
</div>

<div class="wrapper">
	<ul class="inline">
		<li><a href="/">Home</a></li>
		<li><a href="/contact.html">Contact</a></li>
		<li><a href="/login.html">Login</a></li>
		<li><a href="/test">Tests</a></li>
	</ul>
</div>

<script type="module" src="/public/js/index.js"></script>
