
<div id="tab-0" class="tab-content <%=cssTab0%>">
	<form id="login" method="post" action="/login" class="form-glass">
		<input type="hidden" name="token" />

		<h2>Formulario de acceso</h2><hr/>
		<div class="ui-block">
			<label for="usuario" class="required">Usuario:</label>
			<input type="text" id="usuario" name="usuario" class="ui-input ui-text ui-lbg ui-user" tabindex="1" placeholder="DNI / NIF / E-Mail" />
			<div class="ui-errtip"></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="clave" class="required">Clave:</label>
			<input type="password" id="clave" name="clave" class="ui-input ui-text ui-lbg ui-password" tabindex="2" placeholder="********" />
			<div class="ui-errtip"></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>">Acceder<i class="fas fa-angle-double-right icon"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt icon"></i>Limpiar</button>
	</form>
</div>

<div id="tab-1" class="tab-content <%=cssTab1%>">
	<form id="user" action="/signup.html" method="post" class="form-glass">
		<input type="hidden" name="token" />

		<h2>Alta de nuevo usuario</h2><hr/>
		<div class="ui-block">
			<label for="nm" class="required">Nombre:</label>
			<input type="text" id="nm" name="nm" size="35" maxlength="200" class="ui-input ui-text" tabindex="1" title="<%=i18n.titNombre%>" placeholder="<%=i18n.phNombre%>" />
			<span class="ui-errtip"><%=msgs.nm%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap1" class="required"><%=i18n.lblApellido1%>:</label>
			<input type="text" id="ap1" name="ap1" size="35" maxlength="200" class="ui-input ui-text" tabindex="2" title="<%=i18n.titApellido1%>" placeholder="<%=i18n.phApellido1%>" />
			<span class="ui-errtip"><%=msgs.ap1%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="ap2"><%=i18n.lblApellido2%>:</label>
			<input type="text" id="ap2" name="ap2" size="35" maxlength="200" class="ui-input ui-text" tabindex="3" title="<%=i18n.titApellido2%>" placeholder="<%=i18n.phApellido2%>" />
			<span class="ui-errtip"><%=msgs.ap2%></span>
		</div>
		<br/>
		<div class="ui-block">
			<label for="nif" class="required"><%=i18n.lblNifCif%>:</label>
			<input type="text" id="nif" name="nif" size="35" maxlength="20" class="ui-input ui-text" tabindex="4" title="<%=i18n.titNif%>" placeholder="<%=i18n.phNif%>" />
			<div class="ui-errtip"><%=msgs.nif%></div>
		</div>
		<br/>
		<div class="ui-block">
			<label for="correo" class="required"><%=i18n.lblCorreo%></label>
			<input type="text" name="correo" size="40" maxlength="200" tabindex="5" class="ui-input ui-text" title="<%=i18n.titCorreo%>" placeholder="<%=i18n.phCorreo%>" />
			<div class="ui-errtip"><%=msgs.correo%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit captcha" tabindex="100" title="@titAcceder;"><%=i18n.lblEnviar%> &raquo;</button>
		<button type="reset" class="btn btn-light" tabindex="101" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-2" class="tab-content <%=cssTab2%>">
	<h1>Remember</h1>
	<hr/>

	<form id="reactive" action="/reactive.html" method="post" class="form-glass">
		<input type="hidden" name="token" />

		<div class="ui-block">
			<label for="correo" class="required">E-Mail</label>
			<input type="text" name="correo" size="40" maxlength="200" tabindex="2" class="ui-input ui-text" title="Type your email" placeholder="xxxx@yyyy.com" />
			<div class="msg-error"><%=msgs.correo%></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary captcha" tabindex="100"><%=i18n.lblEnviar%> <i class="far fa-paper-plane"></i></button>
	</form>
</div>

<div id="tab-3" class="tab-content <%=cssTab3%>">
	<h2><%=i18n.lblFormContact%></h2>

	<form id="contact" action="/contact.html" method="post" class="form-glass">
		<input type="hidden" name="token" />

		<div class="ui-block">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" id="nombre" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" title="<%=i18n.titNombre%>" placeholder="Joe" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-block">
			<label for="correo" class="required"><%=i18n.lblCorreo%>:</label>
			<input type="text" name="correo" vmaxlength="200" tabindex="2" class="ui-input ui-text" title="<%=i18n.titCorreo%>" placeholder="<%=i18n.ejCorreo%>" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-block">
			<label for="asunto" class="required"><%=i18n.lblAsunto%>:</label>
			<input type="text" id="asunto" name="asunto" maxlength="200" tabindex="7" class="ui-input ui-text" placeholder="Type a resume" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-block">
			<label for="info" class="required">Informacion:</label>
			<textarea id="info" name="info" class="ui-input ui-ta" tabindex="8" maxlength="600"></textarea>
			<span class="msg-error"></span>
			<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
			<div class="ui-errtip"></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>"><%=i18n.lblEnviar%><i class="fas fa-angle-double-right icon"></i></button>
		<button type="reset" class="btn btn-light" tabindex="101" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt icon"></i><%=i18n.lblLimpiar%></button>
	</form>
</div>

<div class="wrapper">
	<ul class="inline">
		<li><a href="/">home</a></li>
		<li><a href="#tab-0">Login</a></li>
		<li><a href="#tab-1">Sign Up</a></li>
		<li><a href="#tab-2">Remember</a></li>
		<li><a href="#tab-3">Contact</a></li>
	</ul>
</div>

<script type="module" src="/public/js/login.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
