
<div id="tab-0" class="tab-content <%=css.tab0%>">
	<form id="signin" method="post" action="/login" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Formulario de acceso</h2><hr/>
		<%-include("../forms/uiUser", { id: "usuario", name: "usuario", tabindex: 1 })%>
		<%-include("../forms/uiPassword", { id: "clave", name: "clave", tabindex: 2 })%>

		<div class="flex my-4 mx-auto px-4">
			<div class="flex grow">
				<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>">Acceder<i class="fas fa-angle-double-right ml-1"></i></button>
			</div>
			<div class="flex grow justify-end items-center">
				<a href="#tab-2" class="action">Forgot Password?</a>
			</div>
		</div>
	</form>
</div>

<div id="tab-1" class="tab-content <%=css.tab1%>">
	<form id="signup" action="/signup.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Alta de nuevo usuario</h2><hr/>
		<div class="ui-box">
			<label for="nm" class="required">Nombre:</label>
			<input type="text" id="nm" name="nm" maxlength="200" class="ui-input ui-text" tabindex="1" title="<%=i18n.titNombre%>" placeholder="<%=i18n.phNombre%>" />
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-box">
			<label for="ap1" class="required">Primer Apellido:</label>
			<input type="text" id="ap1" name="ap1" maxlength="200" class="ui-input ui-text" tabindex="2" title="<%=i18n.titApellido1%>" placeholder="<%=i18n.phApellido1%>" />
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-box">
			<label for="ap2">Segundo Apellido:</label>
			<input type="text" id="ap2" name="ap2" maxlength="200" class="ui-input ui-text" tabindex="3" title="<%=i18n.titApellido2%>" placeholder="<%=i18n.phApellido2%>" />
			<span class="ui-errtip"></span>
		</div>
		<div class="ui-box">
			<label for="nif" class="required">Nif:</label>
			<input type="text" id="nif" name="nif" maxlength="20" class="ui-input ui-text" tabindex="4" title="<%=i18n.titNif%>" placeholder="<%=i18n.phNif%>" />
			<span class="ui-errtip"></span>
		</div>
		<%-include("../forms/uiEmail", { id: "correo", name: "correo", tabindex: 5 })%>

		<hr/>
		<button type="submit" class="btn btn-primary ajax-submit captcha" tabindex="100" title="@titAcceder;"><%=i18n.lblEnviar%> &raquo;</button>
		<button type="reset" class="btn btn-light" tabindex="101" title="@titRestaurar;">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div id="tab-2" class="tab-content <%=css.tab2%>">
	<form id="reactive" action="/reactive.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<%-include("../forms/uiEmail", { id: "remember", name: "correo", tabindex: 5 })%>

		<hr/>
		<button type="submit" class="btn btn-primary captcha" tabindex="100"><%=i18n.lblEnviar%> <i class="far fa-paper-plane"></i></button>
	</form>
</div>

<div id="tab-3" class="tab-content <%=css.tab3%>">
	<form id="contact" action="/contact.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Contacto</h2><hr/>
		<div class="ui-box">
			<label for="nombre" class="required">Nombre:</label>
			<input type="text" id="nombre" name="nombre" maxlength="200" tabindex="1" class="ui-input ui-text" title="<%=i18n.titNombre%>" placeholder="Joe" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="correo" class="required">E-Mail:</label>
			<input type="text" name="correo" vmaxlength="200" tabindex="2" class="ui-input ui-text" title="<%=i18n.titCorreo%>" placeholder="<%=i18n.ejCorreo%>" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="asunto" class="required">Asunto:</label>
			<input type="text" id="asunto" name="asunto" maxlength="200" tabindex="7" class="ui-input ui-text" placeholder="Type a resume" />
			<div class="ui-errtip"></div>
		</div>
		<div class="ui-box">
			<label for="info" class="required">Informacion:</label>
			<textarea id="info" name="info" class="ui-input ui-ta" tabindex="8" maxlength="600"></textarea>
			<div class="ui-errtip"></div>
		</div>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>">Enviar<i class="fas fa-angle-double-right ml-1"></i></button>
		<button type="reset" class="btn btn-light" tabindex="101" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt ml-1"></i>Limpiar</button>
	</form>
</div>

<div class="wrapper">
	<ul class="inline">
		<li><a href="/">home</a></li>
		<li><a href="#tab-0">Login</a></li>
		<li><a href="#tab-1">Sign Up</a></li>
		<li><a href="#tab-2">Remember</a></li>
		<li><a href="#tab-3">Contact</a></li>
	</ul>
</div>

<script type="module" src="/public/js/login.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
