
<div id="tab-0" class="tab-content <%=msgs.tab0%>">
	<form id="signin" method="post" action="/login" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Formulario de acceso</h2><br/>
		<%-include("../forms/uiUser", { id: "signin-usuario", name: "usuario", tabindex: 1 })%>
		<%-include("../forms/uiPassword", { id: "signin-clave", name: "clave", label: "Clave", tabindex: 2 })%>

		<div class="flex my-4 px-4">
			<div class="flex grow">
				<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>">Acceder<i class="fas fa-angle-double-right ml-2"></i></button>
			</div>
			<div class="flex grow justify-end items-center">
				<a href="#tab-2" class="action action-blue">Forgot Password?</a>
			</div>
		</div>
	</form>
</div>

<div id="tab-1" class="tab-content <%=msgs.tab1%>">
	<form id="signup" action="/signup.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Alta de nuevo usuario</h2><br/>
		<%-include("../forms/uiText", { id: "signup-nombre", name: "nombre", label: "Nombre", tabindex: 1, required: msgs.required, title: null, ph: "Joe" })%>
		<%-include("../forms/uiText", { id: "signup-ap1", name: "ap1", label: "Primer Apellido", tabindex: 2, required: msgs.required, title: null, ph: "Walter" })%>
		<%-include("../forms/uiText", { id: "signup-ap2", name: "ap2", label: "Segundo Apellido", tabindex: 3, required: msgs.required, title: null, ph: "White" })%>
		<%-include("../forms/uiText", { id: "signup-nif", name: "nif", label: "Nif", tabindex: 4, required: msgs.required, title: null, ph: "11111111H" })%>
		<%-include("../forms/uiEmail", { id: "signup-correo", name: "correo", tabindex: 5 })%>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="@titAcceder;">Enviar &raquo;</button>
		<button type="reset" class="btn btn-light" tabindex="101" title="@titRestaurar;">&olarr; Limpiar</button>
	</form>
</div>

<div id="tab-2" class="tab-content <%=msgs.tab2%>">
	<form id="reactive" action="/reactive.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Remember password</h2><br/>
		<%-include("../forms/uiEmail", { id: "remember", name: "correo", tabindex: 5 })%>

		<div class="flex my-4 px-4">
			<div class="flex grow items-center">
				<a href="#tab-0" class="action action-blue"><i class="fas fa-angle-double-left mr-2"></i>Login</a>
			</div>
			<div class="flex grow justify-end">
				<button type="submit" class="btn btn-primary" tabindex="100">Enviar<i class="far fa-paper-plane ml-2"></i></button>
			</div>
		</div>
	</form>
</div>

<div id="tab-3" class="tab-content <%=msgs.tab3%>">
	<form id="contact" action="/contact.html" method="post" class="card-glass">
		<input type="hidden" name="token" />

		<h2>Contacto</h2><br/>
		<%-include("../forms/uiText", { id: "contact-nombre", name: "nombre", label: "Nombre", tabindex: 1, required: msgs.required, title: null, ph: "Joe" })%>
		<%-include("../forms/uiEmail", { id: "contact-correo", name: "correo", label: "E-Mail", tabindex: 2 })%>
		<%-include("../forms/uiText", { id: "contact-asunto", name: "asunto", label: "Asunto", tabindex: 3, required: msgs.required, title: null, ph: "Subject" })%>
		<%-include("../forms/uiTextArea", { id: "contact-info", name: "info", label: "Informacion", tabindex: 8 })%>

		<hr/>
		<button type="submit" class="btn btn-primary" tabindex="100" title="<%=i18n.titAcceder%>">Enviar<i class="fas fa-angle-double-right ml-2"></i></button>
		<button type="reset" class="btn btn-light" tabindex="101" title="<%=i18n.titRestaurar%>"><i class="fas fa-undo-alt mr-2"></i>Limpiar</button>
	</form>
</div>

<div class="wrapper">
	<ul class="inline">
		<li><a href="/">home</a></li>
		<li><a href="#tab-0">Login</a></li>
		<li><a href="#tab-1">Sign Up</a></li>
		<li><a href="#tab-2">Remember</a></li>
		<li><a href="#tab-3">Contact</a></li>
	</ul>
</div>

<script type="module" src="/public/js/login.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LeDFNMZAAAAAKssrm7yGbifVaQiy1jwfN8zECZZ"></script>
