<!doctype html>
<html lang="<%=lang%>">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Pablo Rosique Vidal" />
	<meta name="keywords" content="<%=i18n.msgMetaKeywords%>" />
	<meta name="description" content="<%=i18n.msgMetaDesc%>" />

	<title><%=i18n.lblEmpresaNombre%></title>
	<link rel="icon" type="image/x-icon" href="/public/web/img/upct-azul-logo.png" />

	<!-- google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
	<link rel="stylesheet" href="/public/styles-min.css">
	<link rel="manifest" href="/public/web/manifest.json" />

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="module" src="/public/web/js/util-box.js"></script>
</head>

<body>
	<header></header>
	<nav>
		<ul class="menu hide">
			<li id="16" data-padre="4"><a href="#" title="Sub Nav Link 11">Sub Nav Link 11</a></li>
			<li id="17" data-padre="4"><a href="#" title="Sub Nav Link 12">Sub Nav Link 12</a></li>
			<li id="2" data-orden="2"><a href="#" title="Nav Link 1"><i class="fas fa-euro-sign nav-icon"></i>Ingresos</a>
			<li id="3" data-padre="2"><a href="#" title="Sub Nav Link 1">Sub Nav Link 1</a></li>
			<li id="4" data-padre="2"><a href="#" title="Sub Nav Link 2">Sub Nav Link 2</a></li>
			<li id="5" data-padre="2" data-mask="0"><a href="#" title="Sub Nav Link 3">Sub Nav Link 3</a></li>
			<li id="6" data-padre="2"><a href="#" title="Sub Nav Link 4">Sub Nav Link 4</a></li>
			<li id="1" data-orden="1"><a href="index.html" title="Nav Link 1"><i class="fas fa-home nav-icon"></i>Inicio</a></li>
			<li id="7" data-padre="2"><a href="#" title="Sub Nav Link 5">Sub Nav Link 5</a></li>
			<li id="8" data-mask="0"><a href="#" title="Nav Link 1">Nav Link 3</a></li>
			<li id="11" data-padre="8"><a href="#" title="Sub Nav Link 6">Sub Nav Link 6</a></li>
			<li id="12"><a href="#" title="Sub Nav Link 7">Sub Nav Link 7</a></li>
			<li id="9"><a href="#" title="Nav Link 1">Nav Link 4</a></li>
			<li id="10"><a href="#" title="Nav Link 1"><i class="fas fa-address-card nav-icon"></i>About</a></li>
			<li id="13" data-padre="12"><a href="#" title="Sub Nav Link 8">Sub Nav Link 8</a></li>
			<li id="14" data-padre="12"><a href="#" title="Sub Nav Link 9">Sub Nav Link 9</a></li>
			<li id="15" data-padre="12"><a href="#" title="Sub Nav Link 10">Sub Nav Link 10</a></li>
			<%-menus%>
		</ul>
		<ul class="menu-phone">
			<li><a href="#toggle" data-target="ul.menu" data-css="active" data-toggle="fa-bars fa-arrow-left"><i class="fas fa-bars"></i></a></li>
			<li><a href="#" title="Link phone 1">Link phone 1</a></li>
			<li><a href="#" title="Link phone 2">Link phone 2</a></li>
			<li><a href="#" title="Link phone 3">Link phone 3</a></li>
		</ul>
	</nav>

	<main>
		<%-include(_tplBody)%>
	</main>

	<footer>
		<div>
			<p>Copyright &#169; @yyyy; @lblEmpresaNombre;. All rights reserved.</p>
		</div>
	</footer>

	<div class="alerts">
		<div class="alert alert-success hide">
			<div class="alert-icon"><i class="fas fa-check-circle fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgOk%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-info hide">
			<div class="alert-icon"><i class="fas fa-info fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgInfo%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-warn hide">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgWarm%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-danger hide">
			<div class="alert-icon"><i class="fas fa-exclamation fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgError%></div>
			<div class="alert-close">&times;</div>
		</div>
	</div>
	<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
	<a id="back-to-top" href="#top" class="hide back-to-top"><i class="fas fa-chevron-up"></i></a>
</body>
</html>
