
<!doctype html>
<html lang="<%=lang%>">
<%-include("web/partials/head")%>
<body>
	<%-include("web/partials/header")%>
	<%-include("web/partials/nav")%>
	<main>
		<div class="alerts">
			<div class="alert alert-success">
				<div class="alert-icon"><img src="/public/img/png/check.png"></div>
				<div class="alert-text"><%=msgs.msgOk%></div>
				<div class="alert-close">&times;</div>
			</div>
			<div class="alert alert-info">
				<div class="alert-icon"><img src="/public/img/png/info-about.png"></div>
				<div class="alert-text"><%=msgs.msgInfo%></div>
				<div class="alert-close">&times;</div>
			</div>
			<div class="alert alert-warn">
				<div class="alert-icon"><img src="/public/img/png/warning2.png"></div>
				<div class="alert-text"><%=msgs.msgWarn%></div>
				<div class="alert-close">&times;</div>
			</div>
			<div class="alert alert-danger">
				<div class="alert-icon"><img src="/public/img/png/error.png"></div>
				<div class="alert-text"><%=msgs.msgError%></div>
				<div class="alert-close">&times;</div>
			</div>
		</div>
		<%-include(_tplBody)%>
	</main>
	<%-include("web/partials/footer")%>
</body>
</html>
