<!doctype html>
<html lang="<%=lang%>">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Pablo Rosique Vidal" />
	<meta name="keywords" content="<%=i18n.msgMetaKeywords%>" />
	<meta name="description" content="<%=i18n.msgMetaDesc%>" />

	<title><%=i18n.lblEmpresaNombre%></title>
	<link rel="icon" type="image/x-icon" href="/public/img/upct-azul-logo.png" />

	<!-- google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="/public/css/styles.min.css">
	<link rel="manifest" href="/public/manifest.json" />

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="module" src="/public/js/mod/util-box.js"></script>
</head>

<body>
	<header></header>
	<nav>
		<ul class="menu-phone">
			<li><a href="#" class="d-phone sidebar-toggle" title="Show/hide left menu"><i class="fas fa-bars nav-icon"></i>Left Menu</a></li>
		</ul>
		<ul class="menu hide">
			<li data-orden="0"><a href="#" class="d-phone sidebar-toggle" title="Show/hide left menu"><i class="fas fa-arrow-left nav-icon"></i>Left Menu</a></li>
			<%-menus%>
		</ul>
	</nav>

	<main>
		<%-include(_tplBody)%>
	</main>

	<footer>
		<div>
			<p>Copyright &#169; @yyyy; @lblEmpresaNombre;. All rights reserved.</p>
		</div>
	</footer>

	<div class="alerts">
		<div class="alert alert-success hide">
			<div class="alert-icon"><i class="fas fa-check-circle fa-3x"></i></div>
			<div class="alert-text"><%=msgs.get("msgOk")%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-info hide">
			<div class="alert-icon"><i class="fas fa-info fa-3x"></i></div>
			<div class="alert-text"><%=msgs.get("msgInfo")%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-warn hide">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-3x"></i></div>
			<div class="alert-text"><%=msgs.get("msgWarm")%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-danger hide">
			<div class="alert-icon"><i class="fas fa-exclamation fa-3x"></i></div>
			<div class="alert-text"><%=msgs.get("msgError")%></div>
			<div class="alert-close">&times;</div>
		</div>
	</div>
	<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
	<a id="back-to-top" href="#top" class="hide back-to-top"><i class="fas fa-chevron-up"></i></a>
</body>
</html>
