<%-include("partials/head")%>
<body>
	<header><%-include("partials/header")%></header>
	<main><%-include("pages/" + page)%></main>
	<footer><%-include("partials/footer")%></footer>
	<p><%=count%></p>
</body>
</html>
