<!doctype html>
<html lang="<%=i18n.lang%>">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Pablo Rosique Vidal" />
	<meta name="keywords" content="<%=i18n.msgMetaKeywords%>" />
	<meta name="description" content="<%=i18n.msgMetaDesc%>" />

	<title><%=i18n.lblEmpresaNombre%></title>
	<link rel="icon" type="image/x-icon" href="/public/img/upct-azul-logo.png" />

	<!-- google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
	<link rel="stylesheet" href="/public/css/styles-min.css">
	<!--<link rel="manifest" href="/public/web/manifest.json" />-->

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="module" src="/public/js/util.js"></script>
</head>

<body class="dark:bg-gray-800 dark:text-white">
	<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
	<a id="back-to-top" href="#top" class="hide back-to-top"><i class="fas fa-chevron-up"></i></a>
	<div class="alerts">
		<div class="alert alert-success hide">
			<div class="alert-icon"><i class="fas fa-check-circle fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgOk%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-info hide">
			<div class="alert-icon"><i class="fas fa-info fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgInfo%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-warn hide">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgWarm%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-danger hide">
			<div class="alert-icon"><i class="fas fa-exclamation fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgError%></div>
			<div class="alert-close">&times;</div>
		</div>
	</div>

	<header></header>
	<nav>
		<ul class="menu hide">
			<%-menus%>
			<li class="grow"></li>
			<li class="button list">
				<a href="#">
					<img id="currentLang" width="24px" src="/public/img/flags/spain.png" class="inline-block">
					<svg class="inline-block ml-2 w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
					</svg>
				</a>
				<ul class="sub-menu options">
					<li id="es"><a href="?lang=es"><img width="24px" src="/public/img/flags/spain.png" class="inline-block mr-2">ES</a></li>
					<li id="en"><a href="?lang=en"><img width="24px" src="/public/img/flags/great_britain.png" class="inline-block mr-2">EN</a></li>
				</ul>
			</li>
			<li class="button">
				<button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2">
					<svg id="theme-toggle-dark-icon" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
					<svg id="theme-toggle-light-icon" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
				</button>
			</li>
		</ul>
		<ul class="menu-phone">
			<li><a href="#toggle" data-target="ul.menu" data-css="active" data-toggle="fa-bars fa-arrow-left"><i class="fas fa-bars"></i></a></li>
			<li><a href="#" title="Link phone 1">Link phone 1</a></li>
			<li><a href="#" title="Link phone 2">Link phone 2</a></li>
			<li><a href="#" title="Link phone 3">Link phone 3</a></li>
		</ul>
	</nav>

	<main>
		<%-include(_tplBody)%>
	</main>

	<footer>
		<p class="text-center text-gray-500 text-xs">Copyright &#169; 2023 <%=i18n.lblEmpresaNombre%>. All rights reserved.</p>
	</footer>
</body>
</html>
