<!doctype html>
<html lang="<%=i18n.lang%>">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Pablo Rosique Vidal" />
	<meta name="keywords" content="<%=i18n.msgMetaKeywords%>" />
	<meta name="description" content="<%=i18n.msgMetaDesc%>" />

	<title><%=i18n.lblEmpresaNombre%></title>
	<link rel="icon" type="image/x-icon" href="/public/img/upct-azul-logo.png" />

	<!-- google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
	<link rel="stylesheet" href="/public/css/styles-min.css">
	<!--<link rel="manifest" href="/public/web/manifest.json" />-->

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/76f12cea70.js" crossorigin="anonymous"></script>
	<script type="module" src="/public/js/util.js"></script>
</head>

<body>
	<div class="loading hide"><b class="fas fa-spinner fa-3x fa-spin loading-content"></b></div>
	<a id="back-to-top" href="#top" class="hide back-to-top"><i class="fas fa-chevron-up"></i></a>
	<div class="alerts">
		<div class="alert alert-success hide">
			<div class="alert-icon"><i class="fas fa-check-circle fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgOk%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-info hide">
			<div class="alert-icon"><i class="fas fa-info fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgInfo%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-warn hide">
			<div class="alert-icon"><i class="fas fa-exclamation-triangle fa-2x"></i></div>
			<div class="alert-text"><%=msgs.msgWarm%></div>
			<div class="alert-close">&times;</div>
		</div>
		<div class="alert alert-danger hide">
			<div class="alert-icon"><i class="fas fa-exclamation fa-3x"></i></div>
			<div class="alert-text"><%=msgs.msgError%></div>
			<div class="alert-close">&times;</div>
		</div>
	</div>

	<header></header>
	<nav>
		<ul class="menu hide">
			<%-menus%>
		</ul>
		<ul class="menu-phone">
			<li><a href="#toggle" data-target="ul.menu" data-css="active" data-toggle="fa-bars fa-arrow-left"><i class="fas fa-bars"></i></a></li>
			<li><a href="#" title="Link phone 1">Link phone 1</a></li>
			<li><a href="#" title="Link phone 2">Link phone 2</a></li>
			<li><a href="#" title="Link phone 3">Link phone 3</a></li>
		</ul>
	</nav>

	<main>
		<%-include(_tplBody)%>
	</main>

	<footer>
		<p class="text-center text-gray-500 text-xs">Copyright &#169; 2023 <%=i18n.lblEmpresaNombre%>. All rights reserved.</p>
		<div class="navbar">
			<a href="?lang=en"><img width="24px" src="/public/img/flags/great_britain.png"></a>
			<a href="?lang=es"><img width="24px" src="/public/img/flags/spain.png"></a>
			<a href="#dark" class="from-genoa-200 to-genoa-600">toggle dark mode</a>
		</div>
	</footer>
</body>
</html>
