
<!doctype html>
<html lang="<%=lang%>">
<%-include("web/partials/head")%>
<body>
	<%-include("web/partials/header")%>
	<%-include("web/partials/nav")%>
	<main>
		<div class="alerts">
			<div class="alert alert-success hide">
				<img src="/public/img/png/check.png" class="alert-icon hide-phone">
				<p class="alert-text"><%=msgs.msgOk%></p>
				<span class="alert-close">&times;</span>
			</div>
			<div class="alert alert-info hide">
				<img src="/public/img/png/info-about.png" class="alert-icon hide-phone">
				<p class="alert-text"><%=msgs.msgInfo%></p>
				<span class="alert-close">&times;</span>
			</div>
			<div class="alert alert-warn hide">
				<img src="/public/img/png/warning2.png" class="alert-icon hide-phone">
				<p class="alert-text"><%=msgs.msgWarn%></p>
				<span class="alert-close">&times;</span>
			</div>
			<div class="alert alert-danger hide">
				<img src="/public/img/png/error.png" class="alert-icon hide-phone">
				<p class="alert-text"><%=msgs.msgError%></p>
				<span class="alert-close">&times;</span>
			</div>
		</div>
		<%-include(_tplBody)%>
	</main>
	<%-include("web/partials/footer")%>
</body>
</html>
