
<% if (body.rows.length == 0) { %>
	<tr class="no-data">
		<td colspan="99">No se han encontrado menus dados de alta en el sistema.</td>
	</tr>
<% } else { %>
	<% body.rows.forEach(function(menu, i) { %>
		<tr class="data">
			<td class="tc"><%=i+1%></td>
			<td class="tc"><i class="<%=menu.icon%>"></i></td>
			<td>
				<a href="/menu/view.html?k=<%=menu._id%>"><%=menu.nombre%></a>
			</td>
			<td>
				<a href="/menu/view.html?k=<%=menu._id%>"><%=menu.nombre_en%></a>
			</td>
			<td><%=menu.padre%></td>
			<td class="tr"><%=menu.orden%></td>
			<td class="tc"><%=i18n.isoDate(menu.alta)%></td>
			<td class="tc">
				<a href="/menu/view.html?k=<%=menu._id%>"><i class="fas fa-search fa-lg text-info icon"></i></a>
				<a href="/menu/users.html?k=<%=menu._id%>"><i class="fas fa-user-plus fa-lg text-ok icon"></i></a>
				<a href="/menu/delete.html?k=<%=menu._id%>" class="remove-row"><i class="fas fa-times fa-lg text-error icon"></i></a>
			</td>
		</tr>
	<% }); %>
<% } %>
