
<div class="wrapper">
	<h1>menus</h1>
	<hr/>

	<form id="menu" action="/menu/filter.html">
		<div class="input-group">
			<label for="fn" class="required">Name:</label>
			<input type="text" id="fn" name="fn" value="<%=body.fn%>" size="20" maxlength="200" class="input-item input-control" tabindex="1" title="User name" placeholder="Joe" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.fn%></span>
		</div>

		<div class="input-group">
			<label for="o1"><%=i18n.lblOrden%>:</label>
			<input type="text" id="o1" name="o1" class="input-item input-control integer tr" value="<%=body.o1%>" size="15" maxlength="10" tabindex="2" />
			<span class="input-item input-icon">...</span>
			<input type="text" id="o2" name="o2" class="input-item input-control integer tr" value="<%=body.o2%>" size="15" maxlength="10" tabindex="3" />
			<span class="msg-error"><%=msgs.o1%></span>
		</div>
		<div class="input-group">
			<label for="f1"><%=i18n.lblFecha%>:</label>
			<input type="text" id="f1" name="f1" class="input-item input-control date datepicker" value="<%=body.f1%>" size="15" maxlength="10" tabindex="4" />
			<span class="input-item input-icon">...</span>
			<input type="text" id="f2" name="f2" class="input-item input-control date datepicker" value="<%=body.f2%>" size="15" maxlength="10" tabindex="5" />
			<span class="msg-error"><%=msgs.f1%></span>
		</div>

		<hr/>
		<a href="/user/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div class="wrapper">
	<table>
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th>
				<th><%=i18n.lblNombre%><a href="/menu/sort.html?by=nombre" class="sort <%=body.nombre%>"></a>
				</th><th><%=i18n.lblOrden%><a href="/menu/sort.html?by=orden" class="sort <%=body.orden%>"></a></th>
				<th><%=i18n.lblFecha%><a href="/menu/sort.html?by=alta" class="sort <%=body.alta%>"></a></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%-include("./menus-tbody")%>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="99">Menus: <span id="rows"><%=body.rows.length%></span></td>
			</tr>
		</tfoot>
	</table>
	<%-include("../pagination")%>

	<hr/>
	<a href="/user/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
	<a href="/menu/view.html" class="btn btn-success"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></a>
</div>
