
<div class="wrapper">
	<h1>menus</h1>
	<hr/>

	<form id="menu" action="/menu/filter.html">
		<div class="input-group">
			<label for="fn" class="required">Name:</label>
			<input type="text" id="fn" name="fn" value="<%=body.fn%>" size="20" maxlength="200" class="input-item input-control" tabindex="1" title="User name" placeholder="Joe" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.fn%></span>
		</div>
		<div class="input-group">
			<label for="n1"><%=i18n.lblOrden%>:</label>
			<input type="text" id="n1" name="n1" class="input-item input-control integer tr" value="<%=body.n1%>" size="16" maxlength="10" tabindex="2" />
			<span class="input-item input-icon">...</span>
			<input type="text" id="n2" name="n2" class="input-item input-control integer tr" value="<%=body.n2%>" size="16" maxlength="10" tabindex="3" />
			<span class="msg-error"><%=msgs.n1%></span>
		</div>
		<div class="input-group">
			<label for="d1"><%=i18n.lblFecha%>:</label>
			<input type="date" id="d1" name="d1" class="input-item input-control date-range min-d2" value="<%=body.d1%>" tabindex="4" />
			<span class="input-item input-icon">...</span>
			<input type="date" id="d2" name="d2" class="input-item input-control date-range max-d1" value="<%=body.d2%>" tabindex="5" />
			<span class="msg-error"><%=msgs.d1%></span>
		</div>

		<hr/>
		<a href="<%=list.prevname%>/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
		<button type="submit" class="btn btn-warn clear-all" tabindex="103"><i class="fas fa-list-ol"></i> <%=i18n.lblRestaurar%></button>
	</form>
</div>

<div class="wrapper">
	<table class="paginable">
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th>
				<th><span class="name-sort"><%=i18n.lblNombre%></span><a href="/menu/sort.html?by=nm" class="sort <%=list.nombreDir%>"></a>
				<th><span class="name-sort"><%=i18n.lblNombre%> (en)</span><a href="/menu/sort.html?by=nm_en" class="sort <%=list.nm_enDir%>"></a>
				<th><span class="name-sort"><%=i18n.lblPadre%></span><a href="/menu/sort.html?by=pn" class="sort <%=list.padreDir%>"></a></th>
				<th class="mw-80"><span class="name-sort"><%=i18n.lblOrden%></span><a href="/menu/sort.html?by=orden" class="sort <%=list.ordenDir%>"></a></th>
				<th class="mw-80"><span class="name-sort"><%=i18n.lblMask%></span><a href="/menu/sort.html?by=mask" class="sort <%=list.maskDir%>"></a></th>
				<th><span class="name-sort"><%=i18n.lblFecha%></span><a href="/menu/sort.html?by=alta" class="sort <%=list.altaDir%>"></a></th>
				<th class="mw-120"></th>
			</tr>
		</thead>
		<tbody>
			<%-util.ab.empty(rows) || include("./menus-tbody")%>
		</tbody>
		<tbody class="no-data hide">
			<tr>
				<td colspan="99">No se han encontrado menus dados de alta en el sistema.</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="99">Menus: <span id="rows"><%=rows.length%></span>/<span id="size"><%=list.size%></span></td>
			</tr>
		</tfoot>
	</table>
	<%-pagination%>

	<hr/>
	<a href="<%=list.prevname%>/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
	<a href="<%=list.basename%>/view.html" class="btn btn-success"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></a>
</div>
