
<div class="wrapper">
	<h1>menus</h1>
	<hr/>

	<form id="menu" action="/menu/filter.html">
		<div class="input-group">
			<label for="fn" class="required">Name:</label>
			<input type="text" id="fn" name="fn" value="<%=body.fn%>" size="20" maxlength="200" class="input-item input-control" tabindex="1" title="User name" placeholder="Joe" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.fn%></span>
		</div>
		<%-include(components + "forms/number-range.ejs", body.orden)%>
		<%-include(components + "forms/date-range.ejs", body.fechas)%>

		<%-include(components + "list/buttons.ejs", body)%>
	</form>
</div>

<div class="wrapper">
	<table>
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th>
				<th><%=i18n.lblNombre%><a href="/menu/sort.html?by=nombre" class="sort <%=body.nombreDir%>"></a>
				<th><%=i18n.lblNombre%> (en)<a href="/menu/sort.html?by=nombre_en" class="sort <%=body.nombre_enDir%>"></a>
				<th><%=i18n.lblPadre%><a href="/menu/sort.html?by=nombre_en" class="sort <%=body.padreDir%>"></a></th>
				<th class="mw-80"><%=i18n.lblOrden%><a href="/menu/sort.html?by=orden" class="sort <%=body.ordenDir%>"></a></th>
				<th class="mw-80"><%=i18n.lblMask%><a href="/menu/sort.html?by=mask" class="sort <%=body.maskDir%>"></a></th>
				<th><%=i18n.lblFecha%><a href="/menu/sort.html?by=alta" class="sort <%=body.altaDir%>"></a></th>
				<th class="mw-120"></th>
			</tr>
		</thead>
		<tbody>
			<%-include("./menus-tbody")%>
		</tbody>
		<%-include(components + "list/tfoot.ejs", body)%>
	</table>
	<%-body.paginationRendered%>
	<%-include(components + "list/footer.ejs", body)%>
</div>
