
<div class="wrapper">
	<h1>menus</h1>
	<hr/>

	<form id="menu" method="get" action="/menu/list.html">
		filtros.....

		<hr/>
		<a href="/user/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
		<button type="reset" class="btn btn-light" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
	</form>
</div>

<div class="wrapper">
	<table>
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th>
				<th><%=i18n.lblNombre%><a href="/menu/sort.html?by=nombre" class="sort"></a>
				</th><th><%=i18n.lblOrden%><a href="/menu/sort.html?by=orden" class="sort"></a></th>
				<th><%=i18n.lblFecha%><a href="/menu/sort.html?by=fecha" class="sort"></a></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%-include("./menus-tbody")%>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="99">Menus: <span id="rows"><%=rows.length%></span></td>
			</tr>
		</tfoot>
	</table>

	<hr/>
	<a href="/user/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
	<a href="/menu/view.html" class="btn btn-success"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></a>
</div>
