
<div class="wrapper">
	<h1>User Private menus</h1>
	<hr/>

	<table>
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th><th><%=i18n.lblNombre%></th><th><%=i18n.lblFecha%></th><th></th>
			</tr>
		</thead>
		<tbody>
			<% if (rows.length == 0) { %>
				<tr class="no-data">
					<td colspan="100">No existen usuarios asociados a este menu.</td>
				</tr>
			<% } else { %>
			<% rows.forEach(function(menu, i) { %>
				<tr class="data">
					<td><%=i+1%></td>
					<td class="tc"><i class="<%=menu.icon%>"></i></td>
					<td><%=menu.nombre%></td>
					<td><%=i18n.isoDate(menu.alta)%></td>
					<td>
						<a href="/menu/delete.html?k=<%=menu._id%>"><i class="fas fa-times fa-lg text-error icon"></i></a>
					</td>
				</tr>
			<% }); %>
			<% } %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Menus: <%=rows.length%></td>
			</tr>
		</tfoot>
	</table>

	<hr/>
	<a href="/menu/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
</div>
