
<% if (body.rows.length == 0) { %>
	<tr class="no-data">
		<td colspan="99">No existen usuarios asociados a este menu.</td>
	</tr>
<% } else { %>
	<% body.rows.forEach(function(user, i) { %>
		<tr class="data">
			<td class="tc"><%=i+1%></td>
			<td><i class="<%=user.nm%>"></i></td>
			<td><%=user.nm%></td>
			<td><%=user.ap1%></td>
			<td><%=user.ap2%></td>
			<td><%=i18n.isoDate(user.alta)%></td>
			<td class="tc">
				<a href="/menu/unlink.html?k=<%=user.id%>" class="remove"><i class="fas fa-times fa-lg text-error icon"></i></a>
			</td>
		</tr>
	<% }); %>
<% } %>
