
<div class="wrapper">
	<h1>Private users menus</h1>
	<hr/>

	<table>
		<thead>
			<tr>
				<th>N&#186;</th><th><%=i18n.lblIcono%></th><th><%=i18n.lblNombre%></th><th><%=i18n.lblFecha%></th><th></th>
			</tr>
		</thead>
		<tbody>
			<% if (_menus.length == 0) { %>
				<tr>
					<td colspan="5"><p>No existen usuarios asociados a este menu.</p></td>
				</tr>
			<% } else { %>
			<% _menus.forEach(function(menu, i) { %>
				<tr>
					<td><%=i+1%></td>
					<td class="tc"><i class="<%=menu.icon%>"></i></td>
					<td><%=menu.nombre%></td>
					<td><%=i18n.isoDate(menu.alta)%></td>
					<td>
						<a href="/menu/delete.html?k=<%=menu._id%>"><i class="fas fa-times fa-lg text-error icon"></i></a>
					</td>
				</tr>
			<% }); %>
			<% } %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Menus: <%=_menus.length%></td>
			</tr>
		</tfoot>
	</table>

	<hr/>
	<a href="/menu/index.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
</div>
