
<div class="wrapper">
	<h1>Private Menus</h1>
	<hr/>

	<form id="tab-1" action="/menu/filter.html" class="tab-contents active">
		<div class="input-group">
			<label for="user-search" class="required"><%=i18n.lblUsuario%></label>
			<input type="search" id="user-search" name="user" value="" size="35" tabindex="3" class="input-item input-control" placeholder="<%=i18n.phBuscar%>" />
			<i class="input-item input-icon fa fa-search"></i>
		</div>

		<hr/>
		<a href="/menu/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
		<a href="#tab-2" class="btn btn-primary" tabindex="4"><i class="fas fa-plus"></i></a>
	</form>
	<form id="tab-2" action="/menu/link.html" class="tab-contents">
		<div class="input-group">
			<label for="ac-user" class="required"><%=i18n.lblUsuario%></label>
			<input type="search" id="ac-user" value="" size="35" tabindex="3" class="input-item input-control ac-user" placeholder="<%=i18n.phBuscar%>" />
			<input type="hidden" id="user" name="user" value="" />
			<i class="input-item input-icon fa fa-search"></i>
		</div>

		<hr/>
		<a href="/menu/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblAdd%> <i class="fas fa-plus"></i></button>
		<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
		<a href="#tab-1" class="btn btn-primary" tabindex="4"><i class="fas fa-search"></i></a>
	</form>
</div>

<div class="wrapper">
	<table>
		<thead>
			<tr>
				<th>N&#186;</th>
				<th><%=i18n.lblNombre%><a href="/menu/sort.html?by=nombre" class="sort <%=body.nombre%>"></a>
				</th><th><%=i18n.lblApellido1%><a href="/menu/sort.html?by=ap1" class="sort <%=body.ap1%>"></a></th>
				</th><th><%=i18n.lblApellido2%><a href="/menu/sort.html?by=ap2" class="sort <%=body.ap2%>"></a></th>
				<th><%=i18n.lblFecha%><a href="/menu/sort.html?by=alta" class="sort <%=body.alta%>"></a></th>
				<th class="mw-120"></th>
			</tr>
		</thead>
		<tbody>
			<%-include("./users-tbody")%>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">Menus: <%=body.rows.length%></td>
			</tr>
		</tfoot>
	</table>
	<%-include("../pagination")%>

	<hr/>
	<a href="/menu/list.html" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
</div>
