
<hr/>
<a href="<%=prevname%>/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblBuscar%> <i class="fas fa-search"></i></button>
<button type="button" class="btn btn-light clear-all" tabindex="102">&olarr; <%=i18n.lblLimpiar%></button>
<button type="submit" class="btn btn-warn clear-all" tabindex="103"><i class="fas fa-list-ol"></i> <%=i18n.lblRestaurar%></button>
