
<div class="pagination">
	<input type="range" value="<%=psize%>" min="20" max="200" step="20" title="<%=psize%>" data-basename="<%=basename%>">

	<% if (page > 0) { %>
		<a href="<%=basename%>/pages.html?page=0&psize=<%=psize%>">&laquo;</a>
	<% } %>

	<% for (let i = start; i <= end; i++) { %>
		<% if (page == i) { %>
			<span class="active"><%=(i+1)%></span>
		<% } else { %>
			<a href="<%=basename%>/pages.html?page=<%=i%>&psize=<%=psize%>"><%=(i+1)%></a>
		<% } %>
	<% } %>

	<% if (page < pages) { %>
		<a href="<%=basename%>/pages.html?page=<%=pages%>&psize=<%=psize%>">&raquo;</a>
	<% } %>
</div>
