
<hr/>
<a href="<%=basename%>/index.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
<a href="<%=basename%>/duplicate.html" tabindex="102" class="btn btn-warn duplicate"><i class="far fa-copy"></i> <%=i18n.lblDuplicar%></a>
<button type="reset" class="btn btn-light" tabindex="103">&olarr; <%=i18n.lblLimpiar%></button>
<% if (id) { %>
	<a href="<%=basename%>/delete.html?k=<%=id%>" tabindex="104" class="btn btn-danger remove"><i class="far fa-trash-alt"></i> <%=i18n.lblEliminar%></a>
<% } %>
