
<div class="input-group">
	<label for="f1"><%=label%>:</label>
	<input type="text" id="f1" name="f1" class="input-item input-control date datepicker" value="<%=body.f1%>" 
		size="15" maxlength="10" tabindex="<%=tabindex%>" placeholder="<%=i18n.phDate%>" />
	<span class="input-item input-icon">...</span>
	<input type="text" id="f2" name="f2" class="input-item input-control date datepicker" value="<%=body.f2%>" 
		size="15" maxlength="10" tabindex="<%=tabindex+1%>" placeholder="<%=i18n.phDate%>" />
	<span class="msg-error"><%=msgs.f1%></span>
</div>
