
<div class="input-group">
	<label for="n1"><%=label%>:</label>
	<input type="text" id="n1" name="n1" class="input-item input-control integer tr" value="<%=body.n1%>" 
		size="15" maxlength="10" tabindex="<%=tabindex%>" />
	<span class="input-item input-icon">...</span>
	<input type="text" id="n2" name="n2" class="input-item input-control integer tr" value="<%=body.n2%>" 
		size="15" maxlength="10" tabindex="<%=tabindex+1%>" />
	<span class="msg-error"><%=msgs.n1%></span>
</div>
