
<div class="wrapper">
	<h1>Menu</h1>
	<hr/>

	<form id="menu" method="post" action="/menu/save.html">
		<input type="hidden" id="_id" name="_id" value="<%=menu._id%>" />

		<div class="input-group">
			<label for="nombre" class="required"><%=i18n.lblNombre%>:</label>
			<input type="text" id="nombre" name="nombre" value="<%=menu.nombre%>" size="35" maxlength="200" class="input-item input-control" tabindex="1" title="<%=i18n.titNombre%>" placeholder="<%=i18n.phNombre%>" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.nombre%></span>
		</div>
		<div class="input-group">
			<label for="nombre_en" class="required"><%=i18n.lblNombre%> (<%=i18n.lblEn%>):</label>
			<input type="text" id="nombre_en" name="nombre_en" value="<%=menu.nombre_en%>" size="35" maxlength="200" class="input-item input-control" tabindex="2" title="<%=i18n.titNombre%> (<%=i18n.lblEn%>)" placeholder="<%=i18n.phNombre%>" />
			<i class="input-item input-icon fas fa-signature"></i>
			<span class="msg-error"><%=msgs.nombre_en%></span>
		</div>

		<div class="input-group">
			<label for="icon"><%=i18n.lblIcono%>:</label>
			<input type="text" id="icon" name="icon" value="<%=menu.icon%>" size="35" maxlength="200" class="input-item input-control" tabindex="3" />
			<i class="input-item input-icon <%=menu.icon || "fas fa-icons"%>"></i>
			<span class="msg-error"><%=msgs.icon%></span>
		</div>
		<div class="input-group">
			<label for="pn"><%=i18n.lblPadre%>:</label>
			<input type="text" id="pn" name="pn" value="<%=menu.pn%>" size="20" maxlength="200" class="input-item input-control ac-menu" tabindex="4" />
			<input type="hidden" id="padre" name="padre" value="<%=menu.padre%>" />
			<i class="input-item input-icon <%=menu.pi || "fas fa-arrow-alt-circle-up"%>"></i>
			<span class="msg-error"><%=msgs.padre%></span>
		</div>
		<div class="input-group">
			<label for="orden"><%=i18n.lblOrden%>:</label>
			<input type="text" id="orden" name="orden" value="<%=menu.orden%>" size="15" maxlength="10" class="input-item input-control integer tr" tabindex="5" />
			<i class="input-item input-icon fas fa-sort-alpha-down"></i>
			<span class="msg-error"><%=msgs.orden%></span>
		</div>
		<div class="input-group">
			<label for="mask"><%=i18n.lblMask%>:</label>
			<input type="text" id="mask" name="mask" value="<%=menu.mask%>" size="15" maxlength="10" class="input-item input-control tr" tabindex="6" />
			<i class="input-item input-icon fas fa-theater-masks"></i>
			<span class="msg-error"><%=msgs.mask%></span>
		</div>
		<div class="input-group">
			<label for="alta" class="required"><%=i18n.lblFecha%>:</label>
			<input type="text" id="alta" name="alta" value="<%=i18n.isoDate(menu.alta)%>" size="15" maxlength="10" tabindex="7" 
				class="input-item input-control date" placeholder="<%=i18n.phDate%>" />
			<i class="input-item input-icon fa fa-calendar"></i>
			<div class="msg-error"><%=msgs.alta%></div>
		</div>

		<hr/>
		<a href="/menu/list.html" tabindex="100" class="btn btn-primary">&#8810; <%=i18n.lblVolver%></a>
		<button type="submit" class="btn btn-success" tabindex="101"><%=i18n.lblGuardar%> <i class="far fa-save"></i></button>
		<a href="/menu/duplicate.html" tabindex="102" class="btn btn-warn duplicate"><i class="far fa-copy"></i> <%=i18n.lblDuplicar%></a>
		<button type="reset" class="btn btn-light" tabindex="103">&olarr; <%=i18n.lblLimpiar%></button>
		<a href="/menu/delete.html?k=<%=menu._id%>" tabindex="104" class="btn btn-danger remove"><i class="far fa-trash-alt"></i> <%=i18n.lblEliminar%></a>

		<% if (menu._id) { %>
			<a href="/menu/first.html" tabindex="106" class="btn btn-primary nav-to" title="<%=i18n.titPrimero%>"><i class="fas fa-angle-double-left"></i></a>
			<a href="/menu/prev.html?k=<%=menu._id%>" tabindex="107" class="btn btn-primary nav-to" title="<%=i18n.titSiguiente%>"><i class="fas fa-angle-left"></i></a>
			<a href="/menu/next.html?k=<%=menu._id%>" tabindex="108" class="btn btn-primary nav-to" title="<%=i18n.titAnterior%>"><i class="fas fa-angle-right"></i></a>
			<a href="/menu/last.html" tabindex="109" class="btn btn-primary nav-to" title="<%=i18n.titUltimo%>"><i class="fas fa-angle-double-right"></i></a>
		<% } %>
	</form>
</div>
