
<div class="wrapper">
	<div>
		<h1>Ajax mail Form</h1>
		<hr/>

		<form id="test" action="/tests/email.html" method="post" class="ajax">
			<div class="input-group">
				<label for="nombre" class="required">Name:</label>
				<input type="text" id="nombre" name="nombre" value="" size="20" maxlength="200" class="input-item input-control" tabindex="1" title="User name" placeholder="Joe" />
				<i class="input-item input-icon fas fa-signature"></i>
				<span class="msg-error"><%=msgs.nombre%></span>
			</div>

			<div class="input-group">
				<label for="correo" class="required">E-Mail</label>
				<input type="search" id="correo" name="correo" value="" size="40" maxlength="200" tabindex="2" class="input-item input-control" title="Type your email" placeholder="xxxx@yyyy.com" />
				<i class="input-item input-icon far fa-envelope"></i>
				<div class="msg-error"><%=msgs.correo%></div>
			</div>

			<div class="input-group">
				<label for="ac-user" class="required">jQuery Auto Suggest Textbox with Bootstrap 4</label>
				<input type="search" id="ac-user" value="" size="40" tabindex="3" class="input-item input-control ac-user" placeholder="Search..." title="Autocomplete country textbox" />
				<input type="hidden" id="idUsuario" name="idUsuario" value="" />
				<i class="input-item input-icon fa fa-search"></i>
			</div>

			<div class="input-group">
				<label for="date" class="required">Date:</label>
				<div class="input-group">
					<input type="text" id="date" name="date" value="" size="40" maxlength="10" tabindex="3" 
						class="input-item input-control date datepicker" placeholder="" />
					<i class="input-item input-icon fa fa-calendar"></i>
					<div class="msg-error"><%=msgs.date%></div>
				</div>
			</div>

			<div class="input-group">
				<label for="number">Price:</label>
				<div class="input-group">
					<input id="number" name="number" type="text" value="" tabindex="4" class="input-item input-control float tr" />
					<span class="input-item input-icon">&euro;</span>
					<div class="msg-error"><%=msgs.number%></div>
				</div>
			</div>

			<div class="input-group">
				<label for="f1">Date Range:</label>
				<div class="input-group">
					<input type="text" id="f1" name="f1" class="input-item input-control date datepicker" value="" tabindex="5" />
					<span class="input-item input-icon">...</span>
					<input type="text" id="f2" name="f2" class="input-item input-control date datepicker" value="" tabindex="6" />
				</div>
			</div>

			<div class="input-group">
				<label for="asunto" class="required">Subject:</label>
				<input type="text" id="asunto" name="asunto" value="" size="40" maxlength="200" class="input-item input-control" tabindex="7" placeholder="Type a resume" />
				<span class="msg-error"><%=msgs.asunto%></span>
			</div>

			<div class="input-group">
				<label for="info" class="required">Comentarios:</label>
				<textarea id="info" name="info" class="input-item input-control" tabindex="8" cols="62" rows="6" maxlength="600"></textarea>
				<span class="msg-error"></span>
				<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
			</div>

			<hr/>
			<button type="submit" class="btn btn-primary" tabindex="100"><%=i18n.lblEnviar%> &raquo;</button>
			<button type="reset" class="btn btn-light ml-2" tabindex="101">&olarr; <%=i18n.lblLimpiar%></button>
			<button href="contact.html?number=14,63" class="ajax-submit btn btn-success ml-2" tabindex="103">Ajax Send &raquo;</button>
			<button href="contact.html?number=14,63" class="ajax-submit btn btn-warn ml-2" tabindex="103">Warning &raquo;</button>
			<button href="contact.html?number=14,63" class="ajax-submit btn btn-dark ml-2" tabindex="103">Dark &raquo;</button>
		</form>
	</div>
</div>
