
<div class="jumbotron m-4">
	<div>
		<h1>Ajax mail Form</h1>
		<hr/>

		<form id="test" action="/tests/email.html" method="post" class="ajax">
			<div class="input-group">
				<label for="nombre" class="required">Name:</label>
				<input type="text" id="nombre" name="nombre" value="" size="20" maxlength="200" class="input-item input-control " tabindex="1" title="User name" placeholder="Joe" />
				<i class="input-item input-icon fas fa-signature"></i>
				<span class="msg-error"><%=msgs.getMsg("nombre")%></span>
			</div>

			<div class="input-group">
				<label for="correo" class="required">E-Mail</label>
				<input type="text" id="correo" name="correo" value="" size="40" maxlength="200" tabindex="2" class="input-item input-control clearable" title="Type your email" placeholder="xxxx@yyyy.com" />
				<i class="input-item input-icon far fa-envelope"></i>
				<div class="msg-error"><%=msgs.getMsg("correo")%></div>
			</div>

			<div class="input-group">
				<label for="ac-user" class="required">jQuery Auto Suggest Textbox with Bootstrap 4</label>
				<input type="text" id="ac-user" value="" size="40" tabindex="3" class="input-item input-control clearable ac-user" placeholder="Search..." title="Autocomplete country textbox" />
				<input type="hidden" id="idUsuario" name="idUsuario" value="" />
				<i class="input-item input-icon fa fa-search"></i>
			</div>

			<div class="input-group">
				<label for="date" class="required">Date:</label>
				<div class="input-group">
					<input type="text" id="date" name="date" value="" size="40" maxlength="10" tabindex="3" 
						class="input-item input-control date datepicker" placeholder="" />
					<span class="input-group-text" id="basic-addon2"><i class="fa fa-calendar"></i></span>
					<div class="msg-error"><%=msgs.getMsg("date")%></div>
				</div>
			</div>

			<div class="input-group">
				<label for="number">Price:</label>
				<div class="input-group">
					<input id="number" name="number" type="text" value="" tabindex="4" class="input-item input-control float tr" />
					<span class="input-group-text" id="basic-addon2">&euro;</span>
					<div class="msg-error"><%=msgs.getMsg("number")%></div>
				</div>
			</div>

			<div class="input-group">
				<label for="f1">Date Range:</label>
				<div class="input-group">
					<input type="text" id="f1" name="f1" class="input-item input-control" value="2012-04-05" tabindex="5" />
					<span class="input-group-text" id="basic-addon2">...</span>
					<input type="text" id="f2" name="f2" class="input-item input-control" value="2012-04-19" tabindex="6" />
				</div>
			</div>

			<div class="input-group">
				<label for="asunto" class="required">Subject:</label>
				<input type="text" id="asunto" name="asunto" value="" size="40" maxlength="200" class="input-item input-control" tabindex="7" placeholder="Type a resume" />
				<span class="msg-error"><%=msgs.getMsg("asunto")%></span>
			</div>

			<div class="input-group">
				<label for="info" class="required">Comentarios:</label>
				<textarea id="info" name="info" class="input-item input-control" tabindex="8" cols="62" rows="6" maxlength="600"></textarea>
				<span class="msg-error"></span>
				<p>Nº de caracteres restantes = <span id="counter-info">600</span></p>
			</div>

			<hr/>
			<button type="submit" class="btn btn-primary" tabindex="100">Send &raquo;</button>
			<button type="reset" class="btn btn-light ml-2" tabindex="101">&olarr; Clear</button>

			<!-- Example single danger button -->
			<button type="button" class="btn btn-danger dropdown" tabindex="102">Action &dtrif;</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>

			<button href="contact.html?number=14,63" class="ajax-submit btn btn-success ml-2" tabindex="103">Ajax Send &raquo;</button>
			<button href="contact.html?number=14,63" class="ajax-submit btn btn-warn ml-2" tabindex="103">Warning &raquo;</button>
			<button href="contact.html?number=14,63" class="ajax-submit btn btn-dark ml-2" tabindex="103">Dark &raquo;</button>
		</form>
	</div>
</div>
