
<div class="pagination">
	<select value="<%=body.psize%>" class="input-item" onchange="window.location.href = '<%=body.basename%>/pages.html?page=0&psize=' + this.value;">
		<option value="20">20</option>
		<option value="40">40</option>
		<option value="80">80</option>
		<option value="100">100</option>
	</select>

	<% if (body.page > 0) { %>
		<a href="<%=body.basename%>/pages.html?page=0&psize=<%=body.psize%>">&laquo;</a>
	<% } %>

	<% for (let i = body.start; i <= body.end; i++) { %>
		<% if (body.page == i) { %>
			<a href="#" class="active"><%=(i+1)%></a>
		<% } else { %>
			<a href="<%=body.basename%>/pages.html?page=<%=i%>&psize=<%=body.psize%>"><%=(i+1)%></a>
		<% } %>
	<% } %>

	<% if (body.page < body.pages) { %>
		<a href="<%=body.basename%>/pages.html?page=<%=body.pages%>&psize=<%=body.psize%>">&raquo;</a>
	<% } %>
</div>
