
<div class="m-2">
    <label for="<%=id%>" class="block mb-1">Fecha:</label>
    <input type="date" id="<%=id%>" name="<%=name%>" maxlength="10" tabindex="<%=tabindex%>" <%=disabled%> class="ui-input ui-date">
    <p class="ui-errtip"></p>
</div>
